.content {
  margin-top: 25px;
  margin-bottom: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.toggle-state-button {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
}
