<ess-back-to-search-bar></ess-back-to-search-bar>

<div class="container--xxl">
  <div class="content">
    <h1>
      Advanced Search Guide: Navigating the Marketplace Dynamic Search
    </h1>

    <p>
      Welcome to the Marketplace advanced search, designed to help you easily
      find the exact research products you need from our extensive repository.
      This guide will take you through the steps of using our advanced search,
      making your research process efficient and enjoyable.
    </p>

    <span
      class="toggle-state-button"
      *ngIf="this.numberExpanded < 8"
      (click)="accordion?.expandAll()"
    >
      <b> Expand All </b></span
    >

    <span
      class="toggle-state-button"
      *ngIf="this.numberExpanded === 8"
      (click)="accordion?.collapseAll()"
    >
      <b> Hide All </b></span
    >
    <div ngbAccordion (shown)="onShow()" (hidden)="onHide()" #accordion="ngbAccordion">
      <div ngbAccordionItem="first">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <b
              >1. Search Techniques in the Marketplace: Basic Search,
              Advanced Search, and Filters</b
            >
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                1. The Marketplace provides a comprehensive search experience with three key features:
              </p>
              <p>
                <strong>Basic Search:</strong> found at the top of the page under the "Basic Search" tab,
                where you can enter general search terms.
              </p>
              <p>
                <strong>Advanced Search:</strong> you can further refine your results using filters
                like author, title, DOI, and keywords. 
                These options are available directly on the left side of the webpage.
              </p>
              <strong>Standard Filters:</strong> on the left side of the
              website, you'll find traditional filters that help you narrow down
              your search results.<br />
              <p>
                2. To access advanced search options, click the "Advanced Search" tab. 
                The panel for developing your search appears just below the search bar.

              </p>

              <img
                src="assets/asguide/show-as.png"
                alt="Shows Advanced Search button placement"
              />
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem="second">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton><b>2. Basic & Advanced Search</b></button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              1.The main upper bar is designed for a fuzzy search, dedicated to a general phrase
              search where the search query approximately matches the content on the webpage. 
              Enter any relevant phrase, and our system will intelligently account for minor
              spelling variations or typos to provide comprehensive results.
              <br />
              2. The fuzzy search functionality focuses on the description, author, title, and keywords,
              enhancing the search by finding similar or related matches. This flexibility allows
              the system to capture closely related terms, ensuring broader and more accurate results.
              <br />
              3. In the main search bar, you can also tick the "Exact Match" option if you desire
              precise results without needing advanced search features. <br />
              <img
                src="assets/asguide/exact-match.png"
                alt="Shows Exact Match checkbox placement"
              />
              4. Below, you'll find a lower search bar, a component of the advanced search. It offers users 
              greater precision and customization, helping them refine their search with specific criteria 
              to find exactly what they need. <br />
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="third">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <b>3. Adding Advanced Search Criteria</b>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                In the advanced search bar, you can enter specific phrases, integral to your research. 
                These phrases will precisely guide your results toward your desired outcomes.
              </p>
              <img
                src="assets/asguide/as-panel.png"
                alt="Shows Advanced Search pannel"
              />
              <p>
                Within the advanced search panel, you can: <br />
                1. Enter a specific search phrase. <br />
                2. Choose an operator from the dropdown menu. <br />
                3. Click the "Narrow down" button to add your phrase and chosen operator to your search. <br />
                4. Use the OR/AND switch to define the relationship between multiple search terms. <br />
              </p>
              <p>
                You can repeat this process to add multiple search phrases, mixing and matching operators as needed. 
                This allows you to refine your search for the best possible outcomes.
              </p>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="fourth">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton><b>4. Applying Operators</b></button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <strong>1. Query options</strong>
              <p>
                For each search phrase you add, a dropdown menu will appear adjacent to it.
              </p>
              <p>
                <strong>Author: </strong>  Select to find content by specific individuals.
                You can choose multiple authors if needed.
              </p>
              <p>
                <strong>In Title: </strong> Use this filter to find phrases in the titles of presented records.
              </p>
              <p>
                <strong>Exact: </strong> Choose this for exact phrase matches, ideal for specific terms or concepts.
              </p>
              <p>
                <strong>Keyword: </strong> Search for specific keywords related to the terms you enter.
              </p>
              <p>
                <strong>None Of: </strong> Eliminate specific terms from your results to further refine your search.
              </p>
              <p>
                <strong>DOI: </strong> Use it to search for resources by their Digital Object Identifier (DOI),
                for precise retrieval of publications, data, software, and other collections.
              </p>

              <strong>2. Multiple Queries</strong>
              <p>
                You can use multiple query fields at the same time. Each query will appear as a chip in a line,
                making it easy to view and manage your search criteria. For example, you can search for resources
                authored by "Addin Osman" with "data analysis" in the title and "machine learning" as a keyword.
                Alternatively, you can refine your search by adding a co-author's name and a specific DOI, allowing you
                to precisely find documents where collaboration is a key focus.
              </p>
              <img
                src="assets/asguide/mult-queries.png"
                alt="Shows multiple queries example"
              />

              <strong>3. OR / AND Switch</strong>
              <p>
                To refine your results even further, the "or/and" switch comes into play. It's located on the right side
                of each query line. Here's how it works:
              </p>
              <ul>
                <li>
                  <strong>AND:</strong> click the control on the left to require that all of your queries must be present
                  in the search results. This helps you find highly specific matches.
                </li>
                <li>
                  <strong>OR: </strong> click the control on the right to include records matching any of your queries.
                  This broadens the search for more results.
                </li>
              </ul>
              <img src="assets/asguide/and-or.png" alt="Shows and/or switch" />
              <strong>4. Filters</strong>
              <p>
                You can also make use of the search filters listed on the left side of the Marketplace webpage to narrow
                down your results even more. These filters can complement your advanced search criteria and provide
                a comprehensive search experience.
              </p>
              <img
                src="assets/asguide/filters.png"
                alt="Shows filters pannel placement"
              />
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="fifth">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton><b>5.Review and Execute </b></button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                After adding your search phrases and applying the filters, take a moment to review your advanced search criteria.
                You'll see a list of the phrases and their respective filters. If needed, you can adjust them
                by removing or adding words or phrases.
              </p>
              <p>
                When you're satisfied with your criteria, click the <strong>magnifying glass</strong>.
              </p>
              <p>
                Your results will appear based on your fuzzy search keywords, advanced phrases, selected filters,
                and any additional filters you've applied. You can further refine your results on 
                the Marketplace webpage for a more comprehensive search experience.
              </p>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="sixth">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <b>6. Clearing filters and Deleting Queries</b>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                Managing your search in the Marketplace is easy with two key features:
                clearing advanced search and clearing basic filters. Here’s how to use them for a fresh start:
              </p>

              <strong>1. Clearing Advanced Search:</strong>
              <p>
                If you’ve entered specific queries in the advanced search and want to start over,
                click the "Clear Advanced Search" button located below the advanced search bar.
                This will remove all queries and criteria, letting you begin a new search
                without any previous filters or operators.
              </p>
              <img src="assets/asguide/clear-as.png" alt="Shows clear button" />
              <strong>2. Clearing Basic Filters:</strong>
              <p>
                To clear the filters located on the left side of the webpage, you have two options.You can either
                click the "Clear filters" button to remove all filters at once or remove each filter by clicking
                on the corresponding chips, one by one. This gives you flexibility in managing your search, allowing you
                to quickly start fresh or adjust specific filters as needed.
              </p>

              <img
                src="assets/asguide/clear-filters.png"
                alt="Shows clear filters button"
              />
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="seventh">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <b>7. Refining and Exploring Results </b>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                Review the search results to find the most relevant resources. If you need to adjust your results,
                you can easily return to the advanced search panel and modify your criteria. 
              </p>
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem="eigth">
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>
            <b>8. Ending Your Advanced Search </b>
          </button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                If you want to switch from advanced search to basic search, simply navigate to the "Basic Search" tab.
                This will restore the default search view, allowing you to use the main search bar and basic filters.
                In case of any issues, our support team is here to assist you.
              </p>
              <p>Happy searching!</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
