[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
typer = "*"
httpx = "*"

[dev-packages]
black = "*"
pylint = "*"
pytest = "*"
isort = "*"
schemathesis = "*"

[requires]
python_version = "3.10"
