[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
alembic = "*"
typer = "*"
httpx = "*"
asgi-lifespan = "*"
fastapi-sessions = "*"
cryptojwt = "*"
oidcrp = "*"
uvicorn = "*"
"stomp.py" = "*"
cachetools = "*"
async-lru = "*"
pydantic-settings = "*"
sentry-sdk = "*"
psycopg2-binary = "==2.9.9"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
pytest-mock = "*"
pytest = "==7.4.2"
schemathesis = "==3.24.3"
pytest-lazy-fixture = "==0.6.3"
pytest-asyncio = "==0.23.7"
pymarkdownlnt = "*"

[requires]
python_version = "3.10"
