.ig-about-wrapper {
  margin: 24px 0 0 0;
}

.ig-details-wrapper {
  min-height: 478px;
  margin: 0 0 64px 0;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}

.ig-provider-information-wrapper {
  height: 478px;
  margin: 0 0 64px 0;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}

.about {
  display: flex;
  flex-direction: column;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-content-title {
  padding-top: 48px;
}

.details {
  height: inherit;
  display: flex;
  flex-direction: row;
}

.header {
  height: 54px;
  background: #F4F4F5;
  border-radius: 0px 0px 4px 4px;
}

.header p {
  padding-left: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 54px;
  color: #37434c;
}

.footer {
  height: 54px;
  background: #F4F4F5;
  border-radius: 0px 0px 4px 4px;
}

.footer p {
  padding-left: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 54px;
  color: #37434c;
}

.ig-logo-container {
  padding: 48px 36px 48px 36px;
}

.ig-about-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.ig-about-subtitle {
  max-width: 780px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.about-description {
  padding: 48px 48px 48px 36px;
}

.section {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.section-description {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.left-column {
  padding: 24px 0 0 48px;
}

.column {
  padding: 24px 24px 24px 0;
}

.column-right {
  padding-top: 24px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.right-column {
  padding: 24px 24px 0 0;
}

.urls-container a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #404DB1;
  padding-right: 12px;
}

.urls-container a span {
  color: #F7CF46;
}

.button {
  width: 235px;
  height: 40px;
  text-align: center;
  line-height: 2.4;
  background: #040F81;
  border-radius: 90px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.button-off {
  width: 235px;
  height: 40px;
  background: none;
  border-radius: 90px;
  text-align: center;
  line-height: 3.4;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  /* identical to box height, or 200% */
  letter-spacing: 0.03em;
  color: #828282;
  text-transform: uppercase;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column-right {
  display: flex;
  min-width: 363px;
}

.li-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
  min-height: 53px;
  border: 1px solid #D8D8D8;
}

.li-container ul {
  padding-top: 12px;
}

li::marker {
  color: #F7CF46;
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  color: #000000;
}

h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 120% */
  color: #000000;
}

h6 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  letter-spacing: 0.02em;

  color: #000000;
  margin-bottom: 12px;
}

.key {
  padding: 0px 6px;
  gap: 10px;
  margin-right: 6px;
  width: 235px;
  height: 24px;
  background: #F1F1F1;
  border-radius: 4px;
}

.details-box {
  margin-bottom: 24px;
  border: 1px solid #D8D8D8;
}

.details-header {
  padding-top: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  /* identical to box height, or 105% */
  color: #000000;
}

.category-box {
  width: 84px;
  height: 84px;
  border: 1px solid #D8D8D8;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg-box {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-name {
  width: 100%;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
}

.column-container {
  display: flex;
  padding: 0 24px 24px 24px;
}

.details-box-container {
  display: flex;
  align-items: center;
}

.column-left {
  padding-top: 24px;
  padding-right: 24px;
  width: 100%;
}

.keywords-container {
  margin-top: 24px;
}

.keywords-container p {
  font-size: 14px;
}

.sub-headline-color {
  color: #3D4DB6;
  text-transform: uppercase;
}

.ig-logo-container img {
  width: 300px;
}

.headline-container {
  display: flex;
}
