.ig-title-container {
  padding-left: 10px;
}

.ig-about-wrapper {
  margin: 24px 0 0 0;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}

.ig-details-wrapper {
  /* min-height: 478px; */
  margin: 0 0 24px 0;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
}

.ig-provider-information-wrapper {
  overflow: hidden;
  margin: 0 0 24px 0;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
}

.guideline-detail-container {
  position: relative;
}

.feedback-panel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.about {
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-description {
  margin-bottom: 30px;
  color: #000;
}

.integration-description {
  margin-bottom: 30px;
  color: #000;
}

.details {
  height: inherit;
  display: flex;
  flex-direction: row;
  padding: 24px 24px 24px 48px;
}

.ig-header {
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.ig-header p {
  padding-left: 13px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000;
}

.ig-header img {
  height: 32px;
  width: auto;
}

.ig-content-inner {
  padding: 0 24px 10px;
}

.ig-logo-container {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.ig-about-title {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.ig-about-subtitle {
  max-width: 780px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 18px;
  float: left;
  width: 100%;
  line-height: 24px;
  color: #000000;
}

.ig-buttons-container .button {
  max-width: 235px;
  height: 40px;
  text-align: center;
  line-height: 2.4;
  background: #040f81;
  border-radius: 90px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.ig-buttons-container .button:hover {
  background: #000;
}
.ig-buttons-container .button-off {
  width: 235px;
  background: none;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  color: #828282;
  text-transform: uppercase;
}

.section {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 24px;
  color: #000000;
}

.section-description {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  display: flex;
  align-items: center;
}

.section-description a {
  overflow-wrap: anywhere;
}

.left-column {
  /*padding: 24px 0 0 48px;*/
}

.column {
  /*padding: 24px 24px 24px 0;*/
}

.right-column {
  /*padding: 24px 24px 0 0;*/
}

.related-services-header {
  font-weight: 100;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-size: 1.375rem;
  line-height: 1.2;
}

.related-services-title {
  font-size: 1.3em;
  font-weight: 600;
  color: #3d4db6;
  text-decoration: none;
  line-height: 1.2;
  text-align: left;
}

.related-services-desc {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  color: #233d4c;
  word-wrap: break-word;
}

.related-services-down {
  font-size: 0.75rem;
  font-weight: 300;
  color: #233d4c;
  line-height: 1.5;
}

.related-services-up {
  font-size: 0.75rem;
  font-weight: 300;
  color: #233d4c;
  line-height: 1.5;
}

.related-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service-box {
  margin: 24px;
  padding: 12px 12px 0 12px;
  background-color: #f4f4f5;
  min-width: 360px;
  max-width: 360px;
}

.info-box-service {
  display: flex;
  border-top: 1px solid #ffffff;
  justify-content: space-between;
  padding-top: 12px;
}

.creator:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #d9d9d9;
}

.left20 {
  padding-left: 20px;
}

.creator-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.creator-box p span {
  line-height: 29px;
}

.creator-container div:nth-last-child(-n + 2) {
  border: none;
}

.rights-container div {
  margin-bottom: 15px;
}

.rights-container div:last-child {
  border: none;
}

.uri-container div:last-child {
  border: none;
}

.uri-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.uri-box {
  width: 40%;
}

@media (max-width: 768px) {
  .ig-logo-container {
    padding: 20px;
  }

  .ig-about-title,
  .ig-about-subtitle {
    text-align: center;
  }

  .ig-buttons-container {
    margin: 30px 0 25px 0;
    text-align: center;
  }

  .ig-buttons-container .button {
    margin: auto;
  }
  .ig-buttons-container .button-off {
    margin: 20px auto 0;
  }
}




/* NEW IG VIEW */


.description-header {
  margin-top: 60px;
  font-size: 14px;

  h2 {
    font-weight: 600;
    font-size: 22px;
    color: #233d4c;
  }

  .description-placeholder {
    width: 155px;
    margin-right: 35px;
  }

  .resource-row {
    display: flex;
    font-weight: 500;
    column-gap: 8px;
    row-gap: 8px;
    margin: 5px 0px 10px;

    .resource-type {
      line-height: 1.2;
      color: rgb(4, 15, 129);
      width: auto;
      font-weight: 400;
      font-size: 15px;
      padding: 5px 10px;
      background: rgb(237, 244, 255);
    }
  }

  .date-info {
    a {
      text-decoration: underline;
      color: #010E87;
    }
  }

  dl {
    dt {
      width: auto;
      padding-right: 5px;
      font-weight: 500;

      a {
        text-decoration: underline;
        color: #010E87;
      }
    }
    dd {
      color: #4c505A;

      a {
        text-decoration: underline;
        color: #010E87;
      }
    }
  }

}

.description-body {
  .nav-tabs {
    margin-bottom: 30px;
    background: none;
    border-bottom: 1px solid #F2F2F2;

    .nav-link.active {
      border-top-width: initial;
      border-right-width: initial;
      border-left-width: initial;
      border-top-color: initial;
      border-right-color: initial;
      border-left-color: initial;
      margin-bottom: 0px;
      font-weight: 500;
      color: rgb(4, 15, 129);
      border-style: none none solid;
      border-image: initial;
      border-bottom: 2px solid rgb(4, 15, 129);
    }
  }

  .description-content {
    font-size: 14px;
    line-height: 1.55;
  }

  .description-blocks {
    display: flex;

    .card {
      border: 1px solid #82888D;
      border-radius: 8px;
    }

    .card-body {

      li {
        font-size: 12px;
        color: #233D4C;
        margin-bottom: 3px;
        font-weight: 300;

        strong {
          font-weight: 400;
          color: #233D4C;
          font-size: 14px;

          line-height: 1.55;
        }
      }

      .card-title {
        display: flex;
        margin-bottom: 16px;

        .card-title-icon {

          img {
            width: 18px;
            display: block;
            height: auto;
          }
        }

        h6 {
          margin: 0;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }

  .linked-resource {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 9px;
    align-self: stretch;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid #010E87;
    color: #010E87;
    background: #D9E4F9;
    margin-bottom: 17px;

    &:hover {
      border: 1px solid #010E87;
      background: #cbd7f1;
    }
  }

  .right-panel-links {
    margin-bottom: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: #82888D;
    border-image: initial;
    border-radius: 8px;
    padding: 10px 30px;

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0px;
      margin: 0px;

      li {
        width: 100%;
        padding: 16px 0px;
        list-style: none;
        border-bottom: 1px solid #82888D;

        &:last-child {
          border-width: initial;
          border-style: none;
          border-color: initial;
          border-image: initial;
        }

        a {
          color: rgb(0, 0, 0);
          font-size: 15px;
          display: flex;
          align-items: center;

          &:before {
            content: "";
            display: inline-block;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            background-color: rgb(0, 0, 0);
            mask-image: url(/assets/icon-manual.svg);
            mask-size: 18px;
            mask-repeat: no-repeat;
            mask-position: 50% 50%;
          }

          &:hover {
            color: rgb(4, 15, 129);

            &:before {
              background-color: rgb(4, 15, 129);
            }
          }
        }

        &.package_url {
          a {
            &:before {
              mask-image: url(/assets/icon-package.svg);
              mask-size: 16px;
            }
          }
        }

        &.documentation_url {
          a {
            &:before {
              mask-image: url(/assets/icon-book.svg);
              mask-size: 14px;
            }
          }
        }

        &.contact_url {
          a {
            &:before {
              mask-image: url(/assets/icon-mail.svg);
            }
          }
        }

        &.repository_url {
          a {
            &:before {
              mask-image: url(/assets/icon-terms.svg);
              mask-size: 20px;
            }
          }
        }
      }
    }
  }

  .contact-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    border-radius: 8px;
    background: #ECECED;

    .card-title {
      display: flex;
      margin-bottom: 5px;

      .card-title-icon {
        margin-right: 8px;

        img {
          width: 14px;
          display: block;
          height: auto;
        }
      }

      h6 {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  dl {
    margin: 15px 0 0;

    dt {
      color: #233D4C;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%; /* 18px */
    }

    dd {
      color: #5A6168;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .organisation-link {
    color: #4C505A;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: underline;
  }
}

.releases-list {
  list-style: none;
  padding-left: 10px;
  margin-top: 5px;
}

.releases-list li a {
  display: block;
  font-size: 0.9rem;
  color: #257b85;
  text-decoration: underline;
  word-break: break-word;
}

.releases-list li a:hover {
  color: #1a5c62;
}

@media (max-width: 768px) {

  .description-body {
    .description-blocks {
      row-gap: 25px;
      margin-bottom: 0 !important;
    }

  }
}

