<div xmlns="http://www.w3.org/1999/html">
  <ess-back-to-search-bar></ess-back-to-search-bar>
  <div class="container-xxl mb-5">
    <div  *ngIf="guideline !== undefined">
      <div class="ig-about-wrapper">
        <div class="about">
          <div class="ig-logo-container">
            <img width="300px" [src]="'./assets/engineering.png'" alt="" />
          </div>
          <div style="padding-top: 48px; padding-right: 64px;">
            <p class="ig-about-title" i18n>{{  this.interoperabilityGuidelineItem?.title ?? '-' }}<br><span class="ig-about-subtitle" i18>{{ ( this.interoperabilityGuidelineItem?.eosc_guideline_type ?? '-' | filterPipe: type.GUIDELINE_TYPE ) }}</span></p>
            <p class="ig-about-subtitle" i18n>
              {{  this.interoperabilityGuidelineItem?.type_info ?? '-' }}
            </p>
          </div>
        </div>
        <div class="footer">
          <p i18n>ABOUT</p>
        </div>
      </div>
      <div class="about-description" i18n>
        {{  this.interoperabilityGuidelineItem?.description ?? '-' }}
      </div>
      <div class="ig-details-wrapper">
        <div class="header">
          <p i18n>Details</p>
        </div>
        <div class="details">
          <div class="col-4 left-column">
            <p class="section" i18n>Year of Publication<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.publication_year ?? '-' }}</span></p>
            <p class="section" i18n>Created<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.publication_date ?? '-' | transformDatePipe }}</span></p>
            <p class="section" i18n>Updated<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.updated_at ?? '-' | transformDatePipe }}</span></p>
            <p class="section" i18n>Status<br><span class="section-description">{{ ( this.interoperabilityGuidelineItem?.status ?? '-' | filterPipe: type.STATUS ) }}</span></p>
            <p class="section" i18n>Domain<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.domain ?? '-' | filterPipe: type.DOMAIN }}</span></p>
            <p class="section" i18n>Resource Type General<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.type_general ?? '-' | filterPipe: type.RESOURCE_GENERAL_TYPE }}</span></p>
          </div>
          <div class="col-4 column">
            <p class="section" i18n>Identifier Type<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.doi !== undefined ? ('ir_identifier_type-doi' | filterPipe: type.IDENTIFIER_TYPE ) : ('ir_identifier_type-uri' | filterPipe: type.IDENTIFIER_TYPE) }}</span></p>
            <p class="section" i18n>Identifier<br><span class="section-description"><a href="{{(this.interoperabilityGuidelineItem?.doi !== undefined ? this.interoperabilityGuidelineItem?.doi ?? 'javascript:void(0)' : this.interoperabilityGuidelineItem?.uri ?? 'javascript:void(0)')}}">{{ this.interoperabilityGuidelineItem?.doi ?? this.interoperabilityGuidelineItem?.uri ?? '-' }}</a></span></p>
            <p class="section" i18n>Related Standard URI<br><span class="section-description"><a href="{{this.interoperabilityGuidelineItem?.related_standards_uri ?? 'javascript:void(0)'}}">{{ this.interoperabilityGuidelineItem?.related_standards_uri ?? '-' }}</a></span></p>
            <p class="section" i18n>Related Standard Identifier<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.related_standards_id ?? '-' }}</span></p>
            <p class="section" i18n>EOSC Integration Options<br>
              <span class="section-description" style="padding-top: 6px; padding-bottom: 6px;" *ngIf="!this.interoperabilityGuidelineItem?.eosc_integration_options?.length">-</span>
              <span class="section-description" style="padding-top: 6px; padding-bottom: 6px;" *ngFor="let option of this.interoperabilityGuidelineItem?.eosc_integration_options">{{ option ?? '-' }}<br></span></p>
          </div>
          <div class="col-4 right-column">
            <p class="section" i18n>Rights<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.right_title ?? '-' }}</span></p>
            <p class="section" i18n>Rights URI<br><span class="section-description"><a href="{{ this.interoperabilityGuidelineItem?.right_uri ?? 'javascript:void(0)'}}">{{ this.interoperabilityGuidelineItem?.right_uri ?? '-' }}</a></span></p>
            <p class="section" i18n>Rights Identifier<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.right_id ?? '-' }}</span></p>
          </div>
        </div>
      </div>
      <div class="ig-provider-information-wrapper">
        <div class="header">
          <p i18n>Provider information</p>
        </div>
        <div class="details">
          <div class="col-4 left-column">
            <p class="section" i18n>Provider<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.provider  ?? '-' }}</span></p>
            <p class="section" i18n>Creator Name<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.author_names  ?? '-' }}</span></p>
            <p class="section" i18n>Name Type<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.author_types  ?? '-' | filterPipe: type.AUTHOR_TYPE }}</span></p>
            <p class="section" i18n>Given Name<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.author_given_names  ?? '-' }}</span></p>
            <p class="section" i18n>Family Name<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.author_family_names  ?? '-' }}</span></p>
          </div>
          <div class="col-4 column">
            <p class="section" i18n>Name Identifier<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.author_names_id ?? '-' }}</span></p>
            <p class="section" i18n>Affiliation<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.author_affiliations ?? '-' }}</span></p>
            <p class="section" i18n>Affiliation Identifier<br><span class="section-description"><a href="{{this.interoperabilityGuidelineItem?.author_affiliations_id ?? 'javascript:void(0)'}}">{{ this.interoperabilityGuidelineItem?.author_affiliations_id ?? '-' }}</a></span></p>
            <p class="section" i18n>Catalogue<br><span class="section-description">{{ this.interoperabilityGuidelineItem?.catalogue ?? '-' }}</span></p>
          </div>
          <div class="col-4 right-column">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
