<ess-back-to-search-bar></ess-back-to-search-bar>
<div class="container--xxl">
  <div class="content">
    <h1>Acceptable Use Policy and Conditions of Use</h1>

    <p>
      This Acceptable Use Policy and Conditions of Use (“AUP”) defines the rules
      and conditions that govern your access to and use (including transmission,
      processing, and storage of data) of the resources and services
      (“Services”) as granted by the ACC Cyfronet AGH for the purpose of the
      Search Service platform (hereinafter referred to as "Website"), where User
      can search through a variety of resources, including: publications, data,
      software, services, and trainings.
    </p>
    <p>
      Users should read, understand and accept this AUP when creating an account
      on the Website or using any of the services provided via this Website. If
      a given user has not done this, or does not agree with the terms set out
      in this document, that user should not create an account on the Website
      and should not make use of any of the services provided via this Website.
    </p>
    <p>
      By accepting this AUP, the registered User, enters into agreement with ACC
      Cyfronet AGH, made up by the contents of these terms, in order to regulate
      the user’s access and use of the Website. User who accept these AUP hereby
      represent and warrant that:
    </p>
    <ol>
      <li>
        You accept to be bound by these AUP, as registered Website user – either
        individually, or in representation of an organization;
      </li>
      <li>
        You are capable, under the terms of the applicable law, to be legally
        bound by and comply with these AUP – in particular, whenever a you
        create an account as a representative of an organization, that you
        warrant to have been expressly and validly authorized by that
        organization to do so, or to otherwise be a legitimate representative of
        that organization under the applicable law;
      </li>
      <li>
        You shall only use the Services in a manner consistent with the purposes
        and limitations described above; you shall show consideration towards
        other users including by not causing harm to the Services; you have an
        obligation to collaborate in the resolution of issues arising from your
        use of the Services.
      </li>
      <li>
        You shall only use the Services for lawful purposes and not breach,
        attempt to breach, nor circumvent administrative or security controls.
      </li>
      <li>
        You shall respect intellectual property and confidentiality agreements.
      </li>
      <li>
        You shall protect your access credentials (e.g. passwords, private keys
        or multi-factor tokens); no intentional sharing is permitted.
      </li>
      <li>
        You shall keep your registered information correct and up to date.
      </li>
      <li>
        You shall promptly report known or suspected security breaches,
        credential compromise or misuse to the security contact stated below;
        and report any compromised credentials to the relevant issuing
        authorities.
      </li>
      <li>
        Reliance on the Services shall only be to the extent specified by any
        applicable service level agreements listed below. Use without such
        agreements is at your own risk.
      </li>
      <li>
        Your personal data will be processed in accordance with the
        <a routerLink="/privacy-policy"
          >Privacy Policy of the EOSC Search Service.</a
        >
      </li>
      <li>
        Your use of the Services may be restricted or suspended, for
        administrative, operational, or security reasons, without prior notice
        and without compensation.
      </li>
      <li>
        If you violate these rules, you may be liable for the consequences,
        which may include your account being suspended and a report being made
        to your home organisation or to law enforcement.
      </li>
    </ol>

    <h2>Services provided via the Website:</h2>

    <p>
      Access to services provided via Website is, in part, restricted to
      registered users - although some Services are open to all Website users.
      The creation of an account and access to the Website is free of charge.
    </p>

    <h5>Registered members</h5>

    <p>
      The Website is intended to allow individuals to become part of the Website
      community and use the EOSC Search Service solutions. In particular, by
      creating a registered account, users will be able to become actively
      involved in
      <a href="https://search.eosc-portal.eu/">EOSC Search Service</a> work and
      receive personalized recommendations based on the User's scientific
      interests and activity and on the Website.
    </p>

    <h5>Newsletters and communications</h5>

    <p>
      The ACC Cyfronet AGH will include members of
      <a href="https://search.eosc-portal.eu/">EOSC Search Service</a> within
      specific mailing lists, to ensure that those members are kept updated
      regarding important news and events related to the Website’s scope, by
      sending out informative newsletters and other communications to registered
      users (unless they opt-out of this).
    </p>

    <h5>Events</h5>

    <p>
      <a href="https://search.eosc-portal.eu/">EOSC Search Service</a> may
      organize meetings for its community of registered users, which take place
      in different places around Europe and beyond, seeking to bring together a
      unique community of research data practitioners and industry and policy
      stakeholders to pursue the specific objectives of
      <a href="https://search.eosc-portal.eu/">EOSC Search Service</a>. Via
      Website, registered users are able to sign-up to attend events and
      webinars for free or at a cost (paid via an external payment processor).
      More information on Events is available at:
      <a href="https://eosc-portal.eu/media/events"
        >EOSC Portal Forthcoming Events</a
      >
    </p>

    <h5>User support</h5>

    <p>
      Any questions concerning Website activities in general can be addressed to
      the EOSC Search Service via helpdesk:
      <a href="https://eosc-helpdesk.eosc-portal.eu/">EOSC Helpdesk</a>.
      Registered users can address questions specifically referring to the
      operation and use of the Website by creating the ticket in
      <a href="https://eosc-helpdesk.eosc-portal.eu/">EOSC Helpdesk</a>.
    </p>

    <h5>Copyright / Intellectual Property</h5>

    <p>
      Users of the Website may download or print copies of any and all materials
      on the Website for personal use. None of the information on this Website
      may be copied, distributed or transmitted in any way for commercial use.
      For any materials downloaded from this Website, source and references must
      be acknowledged.
    </p>

    <p>
      The administrative and security contact for this AUP is:
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >.
    </p>
    <p>
      The privacy statements are located at:
      <a routerLink="/privacy-policy"
        >Privacy Policy of the EOSC Search Service</a
      >.
    </p>

    <h2>Liability</h2>
    <p>
      The material on this Website is provided for general information only. ACC
      Cyfronet AGH makes no representations or warranties as to the accuracy or
      completeness of any materials and information incorporated thereto and
      contained on this Website. ACC Cyfronet AGH has a policy of continuous
      improvement of its communication and reserves the right to make
      improvements or changes to the online content without notice.
    </p>
    <p>
      The use of the material (or any information incorporated thereto), in
      whole or in part, contained in this Website is the user’s sole
      responsibility. ACC Cyfronet AGH disclaims any liability for any damages
      whatsoever including, without limitation, direct, indirect, incidental
      and/or consequential damages resulting from access to the website and use
      of the materials provided therein.
    </p>
    <p>
      ACC Cyfronet AGH makes no representations about websites accessed through
      the EOSC Search Service which are not maintained, controlled or created by
      ACC Cyfronet AGH. Cyfronet does not endorse these sites and is not
      responsible for their content.
    </p>
  </div>
</div>
