:host {
  display: block;
  margin-top: 1px;
}

.pin-icon {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/pin-icon.svg');
  background-position: 0 1px;
}

.pin-icon-text {
  color: #040f81;
  margin-right: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}
