<div class="search-page-container">
  <ess-search-bar #searchBar></ess-search-bar>
  <div class="container d-md-none">
    <div class="row mobile-buttons">
      <div class="col-6">
        <button
          (click)="showFilters = !showFilters"
          class="btn btn-special mobile-show-flters"
          type="button"
        >
          <ng-container *ngIf="!showFilters; else hideFiltersCaption"
            >Show filters</ng-container
          >
          <ng-template #hideFiltersCaption>Hide filters</ng-template>
          <i class="bi bi-filter"></i>
        </button>
      </div>
      <div class="col-6">
        <button
          (click)="showCollections = !showCollections"
          class="btn btn-special mobile-show-collections"
          type="button"
        >
          <ng-container *ngIf="!showCollections; else hideCollectionsCaption"
            >All catalogs</ng-container
          >
          <ng-template #hideCollectionsCaption>Hide catalogs</ng-template>
          <i class="bi bi-chevron-down"></i>
        </button>
      </div>
    </div>
  </div>
  <div
    [ngClass]="{
      'mobile-collections-hidden': !showCollections,
      'mobile-collections-show': showCollections
    }"
  >
    <ess-collections-navigation></ess-collections-navigation>
  </div>
  <div class="container--xxl">
    <div class="dashboard" style="position: relative">
      <div class="row" id="dashboard__main">
        <div
          class="col-sm-3 col-12 left-column"
          [ngClass]="{
            'mobile-filters-hidden': !showFilters,
            'mobile-filters-show': showFilters
          }"
          id="dashboard__filters"
        >
          <ess-filters
            [results]="response?.results"
            [isError]="response?.isError"
          ></ess-filters>
        </div>
        <div class="col-sm-7 col-12 center-column">
          <ess-page-header
            *ngIf="!response?.isError"
            [resultsCount]="response?.numFound ?? 0"
          ></ess-page-header>
          <ess-active-filters></ess-active-filters>
          <ess-results-with-pagination
            [response]="response"
            (clearSearchInput)="searchBar.clearInput($event)"
          ></ess-results-with-pagination>
        </div>
        <div
          class="col-sm-3 col-12 right-column pl-0"
        >
<!--          <ess-articles></ess-articles>-->

<!--          <div class="right-links-wrapper">-->
<!--            <h4>Articles</h4>-->

<!--            <div class="link-box">-->
<!--              <a href="{{knowledgeHubUrl}}articles/article_01.html">-->
<!--                <div class="link-title">Exploration Toolkit</div>-->
<!--                <div class="link-desc">Navigating EOSC<br>Catalogue & Marketplace</div>-->
<!--              </a>-->
<!--            </div>-->

<!--            <div class="link-box">-->
<!--              <a href="{{knowledgeHubUrl}}articles/article_02.html">-->
<!--                <div class="link-title">Searching Pathways</div>-->
<!--                <div class="link-desc">Smart Strategies<br>for EOSC Exploration</div>-->
<!--              </a>-->
<!--            </div>-->

<!--            <div class="link-box">-->
<!--              <a href="{{knowledgeHubUrl}}articles/article_03.html">-->
<!--                <div class="link-title">Effective Data Reuse </div>-->
<!--                <div class="link-desc">Documentation and Metadata Refinement</div>-->
<!--              </a>-->
<!--            </div>-->

<!--          </div>-->

          <a href="{{userDocumentationUrl}}" class="right-media-link">
            <div class="media-title">Check Our User Documentation</div>
            <div class="media-desc">Browse our guides for useful EOSC insights</div>
            <div class="media-arrow"></div>
          </a>


        </div>
      </div>
    </div>
  </div>
  <div class="suggested" style="background-color: #eff1ff">
    <ess-recommendations></ess-recommendations>
  </div>
  <!-- <ess-feedback-panel class="feedback-panel"></ess-feedback-panel> -->
</div>
