h1 {
  font-family: Ubuntu;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
}

h2 {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.heading, .bg-light {
  background: #3987BE0D !important;
}

.heading .text-muted {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.logo-box {
  margin-bottom: 40px;
}

.search-box {
  margin: 60px 0 25px 0;
}

.search-box input {
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  padding-left: 35px;
}

.search-box .btn-primary {
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #3987BE;
  background: #3987BE;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 0 25px 25px 0;
}

.search-box .btn-primary i {
  margin-right: 10px;
}

.solutions-box a {
  color: rgba(0, 0, 0, 0.45);
  font-size: 16px;
  margin: 0 8px 10px;
  display:inline-block;
  text-decoration: none;
}

.solutions-box a:hover {
  color: #3987BE;
  text-decoration: underline;
}

.who-are-you {
  padding-bottom: 3.5rem !important;
}

.who-are-you h2 {
  margin-bottom: 2.5rem;
}

.who-are-you .bg-light,
.provider .bg-light {
  transition: box-shadow .25s ease,transform .25s ease;
  text-decoration: none;
  border: none;
  border-radius: 0;
}

.who-are-you .bg-light:hover,
.provider .bg-light:hover {
  background-color: rgba(51,94,234,.15);
  color: #335eea;
  box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;
  transform: translate3d(0,-3px,0);
}

.who-are-you .bg-light .icon-box,
.provider .bg-light .icon-box {
  height: 170px;
}

.provider .bg-light .icon-box img {
  max-height: 170px;
  width: auto;
}

.who-are-you .bg-light:hover .card-title,
.provider .bg-light:hover .card-title {
  color: #3987BE;
}

.who-are-you .bg-light .card-title,
.provider .bg-light .card-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  line-height: 28px;
  margin-top: 40px;
  text-decoration: none;
}


.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.help .card {
  border: none;
  text-decoration: none;
  border-radius: 0;
  background: RGB(255,255,255,0.6);
  padding: 15px 0;
  text-align: center;
  transition: box-shadow .25s ease,transform .25s ease;
}

.help .card:hover {
  background: RGB(255,255,255,1.0);
  color: #335eea;
  box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;
  transform: translate3d(0,-3px,0);
}

.help .card .icon-box {
  margin: 5px 0 20px;
  text-align: center;
  width: 100%;
}

.help .card .icon-box img {
  max-height: 100px;
}

.help .card .card-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
}

.help .card:hover .card-title {
  color: #3987BE;
}
.help h2 {
  margin-bottom: 2rem;
}
