<ess-back-to-search-bar></ess-back-to-search-bar>
<div class="adapter-detail-container container-xxl">
  <div class="row description-header">
    <div class="col-md-9">
      <div class="d-flex align-items-start mb-4">
        <div class="description-placeholder">
          <img [src]="validatedLogoUrl" alt="" class="img-fluid" />
        </div>

        <div class="description-details">
          <h2 class="font-weight-bolder mb-3">{{ adapter?.title }}</h2>

          <div class="date-info d-flex mb-2">
            <div *ngIf="adapter?.alternative_ids" class="doi">DOI: {{ adapter?.alternative_ids }}</div>
            <div *ngIf="adapter?.date" [class.ms-4]="adapter?.alternative_ids">Published: {{ adapter?.date }}</div>
          </div>

          <div class="resource-row row mb-2">
            <span class="pin-value resource-type">Adapter</span>
          </div>

          <div class="short-description mb-2">
            {{ adapter?.tagline }}
          </div>

          <dl class="mb-1 d-flex">
            <dt>Node:</dt>
            <dd>
              <a href='search/all_collection?q=*&fq=node:("{{adapter?.node}}")'>{{ adapter?.node }}</a>
            </dd>
          </dl>

          <dl *ngIf="adapter?.relatedOrganisations"  class="mb-1 d-flex">
            <dt>Organisation:</dt>
            <dd>
              {{ adapter?.relatedOrganisations }}
            </dd>
          </dl>

          <dl *ngIf="adapter?.sqaBadge" class="mb-1 d-flex">
            <dt>SQA Badge:</dt>
            <dd>{{ adapter?.sqaBadge }}</dd>
          </dl>

        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row description-body">
    <div class="col-md-9">
      <ul class="nav nav-tabs" id="my-tab" role="tablist">
        <li class="nav-item">
          <span class="nav-link active">About</span>
        </li>
      </ul>

      <div class="description-content mb-4">
        {{ stripHtml(adapter?.description) }}
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mb-5 description-blocks">
        <div class="col" *ngIf="adapter">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-center gap-2">
                <div class="card-title-icon">
                  <img src="assets/icon-version.svg" alt="Management" />
                </div>
                <h6 class="mb-0">Version & release</h6>
              </div>

              <ul class="list-unstyled small mb-0">
                <li class="mt-2"><strong>Version</strong></li>
                <li>{{ adapter?.version }}</li>
                <li class="mt-2"><strong>Last update</strong></li>
                <li>{{ adapter?.date }}</li>
                <li *ngFor="let change of adapter?.changelog" class="mt-2"><strong>Change Log</strong></li>
                <li *ngFor="let change of adapter?.changelog"><a href="{{ change }}">{{ change }}</a></li>
                <li class="mt-2"><strong>Programming language</strong></li>
                <li>{{ adapter?.programmingLanguage }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col" *ngIf="adapter">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-center gap-2">
                <div class="card-title-icon">
                  <img src="assets/icon-balance.svg" alt="License" />
                </div>
                <h6 class="mb-0">License</h6>
              </div>

              <ul class="list-unstyled small mb-0">
                <li><strong>License name</strong></li>
                <li>{{ adapter?.license }}</li>
                <li *ngIf="adapter?.catalogue" class="mt-2"><strong>Catalogue</strong></li>
                <li *ngIf="adapter?.catalogue">{{ adapter?.catalogue }}</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col" *ngIf="adapter?.sqaBadge">
          <div class="card">
            <div class="card-body">
              <div class="card-title d-flex align-items-center gap-2">
                <div class="card-title-icon">
                  <img src="assets/icon-shield.svg" alt="SQA" />
                </div>
                <h6 class="mb-0">SQA</h6>
              </div>

              <ul class="list-unstyled small mb-0">
                <li class="mt-2"><strong>Badge level</strong></li>
                <li><a href="{{ adapter?.sqaUrl }}"> {{ adapter?.sqaBadge}}</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-3 pt-5">

      <a href="{{adapter?.relatedGuidelineUrl || adapter?.relatedServiceUrl}}" class="linked-resource" *ngIf="adapter?.relatedGuidelineUrl || adapter?.relatedServiceUrl">
        <img src="assets/icon-bolt.svg" alt="Linked resource" />
        Linked resource
      </a>

      <div class="right-panel-links">

        <ul>
          <li class="contact_url">
            <a class="list-group-item" href="mailto:{{adapter?.public_contacts}}">Contact</a>
          </li>
          <li class="documentation_url">
            <a class="list-group-item" href="{{ adapter?.documentationUrl }}">Documentation</a>
          </li>
          <li class="repository_url">
            <a class="list-group-item" href="{{ adapter?.repository }}">Repository</a>
          </li>
          <li class="package_url">
            <a class="list-group-item" [href]="packageUrl" target="_blank">Package</a>
          </li>
        </ul>
      </div>

      <div class="contact-panel mb-5" *ngIf="hasAnyCreators">
        <div class="card-title">
          <div class="card-title-icon">
            <img src="assets/icon-creators-black.svg" alt="Contact" />
          </div>
          <h6 class="card-title">Creator{{ adapter?.creator_names?.length === 1 ? '' : 's' }} </h6>
        </div>
        <div class="card-body">

          <dl>
            <dt>Name</dt>
            <dd>{{ creatorNamesString }}</dd>
          </dl>
          <dl>
            <dt *ngIf="adapter?.creator_identifiers">ORCID</dt>
            <dd>{{ adapter?.creator_identifiers }}</dd>
          </dl>
          <dl *ngIf="adapter?.creator_affiliations">
            <dt>Affiliation</dt>
            <dd> {{ adapter?.creator_affiliations }}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
