<div class="container--xxl">
  <div class="col-md-6 col-12">
  <h5><a [routerLink]="['/interoperability-guidelines']" i18n>Interoperability Guidelines -></a></h5>
  <p>The EOSC Future Project is working on the EOSC-IF to support interoperability of the various elements of EOSC. This interoperability and composability is twofold: internal to EOSC-Core in order to make it operational and to allow communication between components inside the Core, and external to the EOSC-Core to faciliate EOSC providers in: (i) onboarding resources in the EOSC-Exchange (EOSC resource catalogue) and (ii) integrating resources with the EOSC-Core added-value services (such as Order Management, Execution Framework, Monitoring, Accounting, Helpdesk).</p>
  </div>
</div>
