@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:wght@100;300;400;500&display=swap");

header {
  position: relative;
  z-index: 10;
}
header .whitelabel-header-container {
  background: var(--Linear, linear-gradient(180deg, #fff 2.04%, #edf4ff 97.59%));
  padding: 10px 15px 50px;
}
header .whitelabel-header-container a {
  color: #010e87;
}
header.white-bg {
  background: #fff;
}
header.white-bg .navbar-brand img {
  width: 100%;
}
header .menu .dropdown-toggle {
  color: #fff;
}

.eosc-common.white-label .left-links .header-logo-whitelabel {
  width: 251px;
  height: 44px;
  background: url(../assets/eoscpl-logo.svg) center no-repeat;
  display: block;
}

.navbar {
  z-index: 2;
}

*:focus {
  outline: none !important;
}


h1 {
  font-weight: 100;
  font-size: 2.1rem;
}

.categories {
  font-weight: 500;
}
.categories span {
  font-weight: 200;
  color: #495a61;
}

h1 {
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: 0em;
}

h1 span {
  color: #ffcd00;
}

h2 {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.btn-primary {
  background: linear-gradient(88.93deg, #5a69d1 1.83%, #3d4db6 124.59%);
  border-radius: 25px;
  padding: 10px 30px;
  border: none;
}

.btn-primary:hover {
  background: #000;
}

.anticon {
  vertical-align: 0 !important;
}

.landing_page {

  .breadcrumbs {
    display: none;
  }

  .landing-header {
    background: url("../eoscpl-topmap.jpg") no-repeat 50% 0;
    background-size: 100% auto;
    padding: 83px 0 83px;

    .logo-box {
      margin-bottom: 30px;
    }

    h1 {
      color: #fff;
      font-weight: 500;
      font-size: 32px;
      line-height: 1.3;
      margin: 0 0 15px;
    }

    .intro-text {
      color: #fff;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      margin: 0;
    }

    .searchbar {
      justify-content: center;

      .searchbar__input {
        width: 80%;
      }

      input {
        border-radius: 0 0 0 24px;
        border: none;
        border-right: 0;

        &::placeholder {
          color: #000 !important;
          font-style: normal !important;
          opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder {
          /* Edge 12 -18 */
          color: #000 !important;
        }
      }

      button {
        border-radius: 0 24px 24px 0;
        border: none;

        svg {
          font-size: 20px;
        }
      }
    }
  }

  .research-activity {
    padding: 72px 0;

    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      color: #000;
      margin: 0 0 55px;
    }

    .activity-wrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2%;

      .text-wrapper {
        display: flex;
        padding-top: 10px;
        width: 32%;
        font-size: 24px;
        line-height: 44px;
        font-weight: 400;
        flex-direction: row;

        span {
          color: #010e87;
          padding: 0 5px;
        }
      }

      .btn {
        border-radius: 8px;
        background: #010e87;
        color: #fff;
        width: 100%;
        text-align: center;
        height: 44px;
        padding: 0;
        line-height: 44px;

        &:hover {
          background: #010b65;
        }
      }
    }

    .activity {
      display: flex;
      width: 32%;
      flex-direction: row;
      border-radius: 8px;
      min-height: 185px;
      margin-bottom: 2%;
      padding: 24px;
      border: 1px solid var(--Stroke-LightStroke, #d0d5dd);
      background: url(../icon-right-arrow.svg) no-repeat bottom 24px right 24px;
      transition: all 0.5s ease;

      .activity-icon {
        margin-right: 15px;
        transition: all 0.5s ease;

        img {
          width: 31px;
          height: auto;
        }
      }

      &:hover {
        border: 1px solid var(--Stroke-LightStroke, #4c505a);
        background: url(../icon-right-arrow-hover.svg) no-repeat bottom 24px right 24px;
      }

      .activity-texts {
        .activity-title {
          font-weight: 600;
          font-size: 22px;
          line-height: 26px;
          margin-bottom: 10px;
        }

        .activity-subtitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;
          color: #000;
        }
      }
    }
  }

  .btn {
    background: #010e87;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    padding: 0.5rem 1.2rem;

    &:hover {
      background: #010b65;
    }
  }

  .support {
    padding: 10px 0 200px;

    h3 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      margin: 40px 0 25px;
    }

    .description {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      margin: 0 0 25px;
    }
  }

  .eosc-navy {
    padding: 75px 0 45px;
    background: #000745;
    color: #fff;

    .eosc-logo-navy {
      width: 210px;
      height: auto;
      max-width: 100%;
    }

    h4 {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      border: none;
      padding: 0;
      margin: 10px 0 0;
    }

    .eosc-info {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;

      .eosc-info-icon {
        margin-right: 20px;
        transition: all 0.5s ease;
      }

      &:hover {
        .eosc-info-icon {
          margin-top: 5px;
        }
      }

      .eosc-info-texts {
        .eosc-info-title {
          font-weight: 600;
          font-size: 18px;
          line-height: 23px;
          text-decoration: underline;
          margin-bottom: 19px;
          color: #fff;
        }

        .eosc-info-subtitle {
          font-weight: 400;
          font-size: 13px;
          line-height: 19px;
          color: #fff;
        }
      }
    }
  }

  .provider {
    padding: 65px 0 0;

    h3 {
      font-size: 31px;
      line-height: 38px;
      font-weight: 600;
      margin: 40px 0 25px;
    }
  }

  .research {
    padding: 75px 0;

    h3 {
      color: #257b85;
      font-family: "Quicksand";
      font-size: 32px;
      font-weight: 500;
      line-height: 140%; /* 44.8px */
      letter-spacing: 0.64px;
      margin: 0 0 30px;
      padding: 0;
      display: inline-block;
    }

    .lead {
      text-align: center;
      font-size: 24px;
      line-height: 30px;
      max-width: 820px;
      margin: 0 auto 60px;
    }

    .carousel-indicators {
      top: -30px;
      z-index: 1;
      display: block;
      position: absolute;
      bottom: auto;
      margin: 0;
      right: 0;
      left: auto;
      width: auto;

      li {
        float: left !important;
      }
      .active {
        background: #010e87;
        /* box-shadow: 0 0 2px 2px $white inset; */
      }
    }

    .carousel-inner {
      padding: 20px 0;
    }

    .widget-header-theme {
      font-size: 16px;
      line-height: 19px;
      display: block;
    }

    .widget-header-place {
      font-size: 14px;
      line-height: 17px;
      display: block;
    }
  }

  .questions {
    padding: 0 0 75px;

    .accordion {
      .collapse {
        background: #edf4ff !important;
        color: #000 !important;
        padding: 4px 14px 14px;
        font-weight: 400;
      }
      .collapsing {
        background: #edf4ff !important;
        color: #000 !important;
        padding: 4px 14px 14px;
        font-weight: 400;
      }
    }

    .container {
      .questions-wrapper {
        border-radius: 8px;
        background: #000 url("../qa-bg.jpg") no-repeat 50% 0%;
        background-size: 100% auto;
        padding: 70px 120px;
        color: #fff;

        .accordion {
          padding-top: 43px;
        }

        .collapse {
          &.show {
            font-size: 14px;
            color: #020a20 !important;
            text-align: left;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background: #edf4ff;
          }
        }
      }
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      margin: 0 0 22px;
    }

    .lead {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
    }

    .white-link {
      color: #3d4db6;
      background: #fff;
      font-size: 14px;
      margin-top: 25px;
      font-weight: 500;
      padding: 4px 12px;

      svg {
        width: 12px;
        height: auto;
        margin-left: 2px;
      }

      &:hover {
        color: #3d4db6;
      }
    }
    #zammad-feedback-form {
      background: none;
      border: none;
    }

    .zammad-form-group {
      text-align: left;
    }

    .textarea {
      height: 180px;
    }

    .btn {
      width: 100%;
      text-align: center;
      font-size: 20px;
      padding: 15px 0;
      margin-top: 10px;
    }
  }

  .facilities {
    padding: 0 0 75px;
    background: #eee no-repeat;
    background-size: auto 625px;
    min-height: 625px;

    h3 {
      font-size: 32px;
      line-height: 38px;
      font-weight: 600;
      margin: 195px 0 25px;
    }

    .blue-link {
      color: #3d4db6;
      font-size: 16px;
      margin-top: 20px;
      font-weight: 600;

      &:hover {
        color: #000745;
      }
    }
  }
}

.browse {
  width: 637px;
  color: #fff;
  margin: 12px auto 0;

  &.whitelabel {
    margin: 8px 0 0;
  }

  .browse-label {
    font-size: 12px;
    text-align: left;
    padding-right: 10px;
  }

  .solutions-box {
    align-items: center;
    grid-gap: 16px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
      font-size: 13px;
      color: #fff;
      border: 1px solid #fff;
      padding: 1px 8px;
      border-radius: 16px;

      &:hover {
        background: RGB(255, 255, 255, 0.3);
        -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 1);
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 1);
      }
    }
  }
}

.popular-box {
  display: flex;
  column-gap: 8px;
  font-size: 12px;
}
.popular-box a {
  color: #fff;
  text-decoration: underline;
}
.popular-box a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
.popular-box a:focus {
  border: 1px solid #fff;
  text-decoration: none;
}

.search-box {
  margin: 20px 0 15px 0;
}

.search-box .input-group {
  justify-content: center;
}

.search-box-adv {
  margin: 46px 0 25px 0;
}

.search-box-adv .input-group {
  justify-content: center;
}

.phase-box {
  position: relative;
}

.phase-box input.form-control4 {
  border-radius: 0 0 0 24px !important;
}

.search-box input {
  height: 40px;
  width: 565px;
  border: none;
  border-radius: 8px;
  font-weight: 300;
  font-size: 14px;
  padding-left: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box input::placeholder {
  color: #000 !important;
  font-style: normal !important;
  opacity: 1; /* Firefox */
}
.search-box input::-ms-input-placeholder {
  color: #000 !important;
}

.search-box select {
  border: none;
}

.search-box select:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.search-box .btn-primary {
  height: 40px;
  background: #fff;
  padding: 0 20px 0 10px;
  border: none;
  border-radius: 0 24px 24px 0;
}

.search-box .btn-primary i {
  color: #0E0F0F;
  font-size: 22px;
}

.search-box .btn-primary:hover  {
  background: #fff;
}

.search-box .btn-primary:hover i  {
  color: #000;
}

.search-box select {
  font-weight: 300;
  font-size: 14px;
}

.search-box-adv input {
  height: 40px;
  width: 810px;
  border: none;
  border-radius: 8px;
  padding-left: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box-adv select {
  border: none;
}

.search-box-adv select:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.search-box-adv .btn-primary {
  height: 40px;
  background: #fff;
  padding: 0 20px 0 10px;
  border: none;
  border-radius: 0 8px 8px 0;
}

.search-box-adv .btn-primary i {
  color: #000;
  font-size: 22px;
}

.landing-header .phase-box .form-control4 {
  width: 315px !important;
}

.research-activity {
  padding: 72px 0;
}

.eoscpl-intro {
  display: inline-block;
  padding: 22px 24px;
  margin-bottom: 30px;
  border-radius: 0 32px 32px;
  border: 2px solid #257b85;
}

.eoscpl-intro-title {
  font-size: 24px;
  font-weight: 500;
  color: #257b85;
  line-height: 140%;
  margin-bottom: 12px;
}

.eoscpl-intro-desc {
  color: #363939;
  font-size: 16px;
  font-weight: 300;
  line-height: 140%;
  margin-bottom: 30px;
}

.eoscpl-more-link {
  display: flex;
  padding: 8px 20px;
  justify-content: space-between;
  font-weight: 400;
  align-items: center;
  color: #fff;
  border-radius: 32px;
  background: #257b85;
  float: right;
  text-decoration: none;
}

.eoscpl-more-link a {
  color: inherit;
  text-decoration: none;
}

.eoscpl-more-link svg {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.eoscpl-intro:hover {
  border: 2px solid #eb5d81;
}

.eoscpl-intro:hover .eoscpl-more-link {
  background: #eb5d81;
}

.learn-more {
  background: #257b85;
  padding: 72px 0;
  color: #fff;
  font-size: 14px;
  line-height: 140%;

  h4 {
    font-family: "Quicksand";
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.64px;
    color: #fff;
    margin-bottom: 0;
    text-align: right;
    padding: 0;
    border: none;
  }

  .learn-more-link {
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 21px 12px;
    color: #fff;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    justify-content: space-between;

    .link-more {
      display: flex;
      align-items: center;

      svg {
        height: 14px;
        width: 14px;
        margin-left: 9px;
      }
    }

    &:hover {
      background: #fff;
      color: #257b85;
    }
  }
}

.partners {
  padding: 72px 0;

  h4 {
    font-family: "Quicksand";
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.64px;
    color: #257B85;
    margin-bottom: 30px;
    text-align: left;
    padding: 0;
    border: none;
  }

  .container-wide {
    display: flex;
    justify-content: space-around;

    .partner-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      .partner-title {
        color: #24727B;
        text-align: center;
        font-family: Quicksand;
        font-size: 24px;
        font-weight: 500;
        margin-top: 20px;
        line-height: 140%; /* 33.6px */
      }
    }
  }
}

.initiatives {
  padding: 72px 0 90px;
  background: #257b85;
  color: #fff;

  h3 {
    font-family: "Quicksand";
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.64px;
    color: #fff;
    display: inline-block;
    margin-bottom: 30px;
  }

  .initiatives-pic {
    img {
      width: 100%;
      height: auto;
    }
  }
  .initiatives-title {
    padding: 4px 15px;
    color: #fff;
    font-family: "Quicksand";
    background: #000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 27px;
  }

  .initiatives-desc {
    font-size: 14px;
    font-weight: 300;
    line-height: 140%; /* 19.6px */
  }

  .initiatives-link {
    float: right;
    display: flex;
    margin-top: 35px;
    width: 160px;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    border: 2px solid #fff;
    color: #fff;

    svg {
      width: 15px;
      height: 15px;
    }

    &:hover {
      background: #fff;
      color: #257b85;
    }
  }

}

.open-science {
  padding: 75px 0;

  h3 {
    font-family: "Quicksand";
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.64px;
    color: #257b85;
    margin-bottom: 30px;
    display: inline-block;;
  }

  .openscience-intro {
    display: flex;
    padding: 19px 24px 20px 24px;
    margin-bottom: 28px;
    border-radius: 32px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid #257b85;

    &.top-intro {
      border-bottom-left-radius: 0;
    }

    &.middle-intro {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &.bottom-intro {
      border-top-left-radius: 0;
    }

    .openscience-container {
      width: 75%;

      .openscience-intro-title {
        font-size: 24px;
        font-weight: 500;
        color: #257b85;
        line-height: 140%;
        margin-bottom: 14px;
      }

      .openscience-intro-desc {
        color: #363939;
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
      }
    }

    .openscience-more-link {
      display: flex;
      padding: 8px 20px;
      font-size: 14px;
      justify-content: space-between;
      font-weight: 400;
      align-items: center;
      color: #0E0F0F;
      column-gap: 50px;
      border-radius: 32px;
      background: #fff;
      border: 2px solid #257b85;
      float: right;
    }

    &:hover {
      border: 2px solid #eb5d81;

      .openscience-intro-title {
        color: #eb5d81;
      }

      .openscience-more-link {
        background: #eb5d81;
        color: #fff;
        border: 2px solid #eb5d81;
      }
    }
  }
}

.programme {
  background: #257b85;
  padding: 72px 0;
  color: #fff;
  font-size: 14px;
  line-height: 140%;

  h4 {
    font-family: "Quicksand";
    font-size: 32px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.64px;
    color: #fff;
    margin-bottom: 0;
    text-align: right;
    padding: 0;
    border: none;
  }

  p {
    padding-top: 10px;
  }

  .d-flex {
    align-items: flex-end;
  }

  .programme-link {
    float: right;
    display: flex;
    margin-top: 35px;
    width: 100%;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    border: 2px solid #fff;
    color: #fff;

    svg {
      width: 15px;
      height: 15px;
      margin-left: 9px;
    }

    &:hover {
      background: #fff;
      color: #257b85;
    }
  }
}

.popular-services-box {
  border-radius: 32px 0 32px 32px;
  border: 2px solid #eb5d81;
  padding: 24px;

  &:hover {
    border: 2px solid #257b85;
  }

  .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;

    .badge-right {
      position: relative;
      top: auto;
      right: auto;
    }
  }

  .popular-title {
    color: #363939;
    font-family: "Quicksand";
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.48px;
  }

  .popular-provider {
    color: #4c505a;
    font-size: 14px;
    font-weight: 300;
    line-height: 130%;
    padding-bottom: 15px;
    margin: 15px 0 16px;
    border-bottom: 2px solid #c0c3c3;
  }

  .popular-description {
    color: #4c505a;
    font-size: 14px;
    font-weight: 300;
    line-height: 140%;
    padding-bottom: 15px;
    margin: 0;
    flex-grow: 1;
  }

  .taglist-holder {
    border-top: 2px solid #c0c3c3;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    grid-column-gap: 6px;
    -moz-column-gap: 6px;
    column-gap: 6px;
    grid-row-gap: 6px;
    row-gap: 6px;

    .tag-item {
      padding: 4px 7px;
      line-height: 1.2;
      background: #FEF2F4;
      font-size: 12px;
      color: #363939;

      a {
        color: #363939;
      }
    }
  }
}

.totop-wrapper {
  background: #fef2f4;
  padding: 12px 0;

  a {
    color: #010e87;

    svg {
      margin-right: 5px;
      width: 16px;
      height: 16px;
    }
  }
}

footer {
  background: #257b85 url(../assets/eoscpl-footer-bg.svg) no-repeat;
  background-position: right 0;

  .footer-logo {
    margin-top: 70px;
  }

  .footer-left {
    padding: 70px 65px 18px 15px;
    color: #fff;

    .footer-row {
      display: flex;
      justify-content: space-between;

      ul {
        line-height: 17.6px;
        padding: 0;
        list-style: none;
        margin: 0;

        li {
          margin-bottom: 14px;
          font-size: 10.88px;
          font-weight: 400;
          color: #fff;

          .menu-title {
            font-family: "Quicksand";
            font-size: 24px;
            font-weight: 500;
            line-height: 140%; /* 33.6px */
            letter-spacing: 0.48px;
            margin-bottom: 21px;
          }

          a {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.2;
            color: #fff;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .copyright-row {
      margin-top: 30px;

      p {
        color: #a6aeb1;
        font-size: 10px;
        font-weight: 300;
        line-height: 14px;
        margin-bottom: 10px;

        a {
          color: #a6aeb1;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-right {
    background: #edf4ff;
    padding: 48px 15px 18px;
    text-align: center;

    a {
      font-size: 12px;
      color: #4c505a;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {

  .eosc-common.top {
    .container {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }

  .eosc-common.white-label {
    &.top {
      padding: 10px 0 14px;
    }

    .left-links {
      .header-logo-whitelabel {
        width: 170px;
        height: 32px;
        background-size: contain;
        margin-top: 5px;
      }
    }
  }

  .searchbar.whitelabel {
    .searchbar__select {
      width: 100px;
    }
  }
  // scss-lint:disable all
  .landing_page {
    .landing-header {
      padding: 15px 0 20px;
      background-size: cover;

      h1 {
        font-size: 20px;
        line-height: 27px;
        margin: 0 0 20px;
      }

      .phase-box {
        .form-control4 {
          width: 300px !important;
          font-size: 12px;
          border-radius: 4px 0 0 4px !important;

          &::placeholder {
            font-size: 12px;
          }
        }
      }

      .search-box {
        select {
          max-width: 145px;
          font-size: 12px;
        }
      }

      .searchbar {
        max-width: 90%;
        margin: auto;
      }

      .intro-text {
        font-size: 12px;
        line-height: 19px;
        max-width: 100%;
      }

      .browse {
        width: 95%;
        margin: 25px auto 0;
        text-align: center;
        display: block !important;

        .popular-box {
          font-size: 11px;
        }

        .browse-label {
          margin-bottom: 10px;
        }

        .solutions-box {
          display: block;

          a {
            margin: 0 5px 15px;
            display: inline-block;
          }
        }
      }
    }

    .research-activity {
      padding: 35px 0;

      h2 {
        font-size: 25px;
        line-height: 30px;
      }

      .activity {
        width: 95%;
        margin: 0 auto 25px;

        .activity-texts {
          .activity-title {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 5px;
          }

          .activity-subtitle {
            font-size: 13px;
            line-height: 18px;
          }
        }

        &:hover {
          .activity-icon {
            margin: 0 20px 0 0;
          }
        }
      }

      .activity-wrapper {
        display: block;

        .text-wrapper {
          display: block;
          padding-top: 10px;
          width: 100%;
          font-size: 16px;
          text-align: center;
          line-height: 28px;
        }
      }
    }

    .learn-more {
      padding: 35px 0 45px;

      h4 {
        font-size: 22px;
        margin-bottom: 30px;
        text-align: left;
      }

      .learn-more-link {
        padding: 13px 6px;
        font-size: 13px;
      }

    }

    .partners {
      padding: 35px 0 45px;

      h4 {
        font-size: 24px;
        margin: 0 0 25px;
      }

      .container-wide {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 20px;

        .partner-box {
          width: 45%;

          .partner-title {
            font-size: 16px;
            margin-top: 12px;
          }
        }
      }
    }

    .open-science {
      padding: 35px 0;

      h3 {
        font-size: 22px;
        margin: 0 0 25px;
      }
    }

    .initiatives {
      padding: 35px 0 35px;

      h3 {
        font-size: 22px;
        margin: 0 0 25px;
      }

      .initiatives-title {
        padding: 5px 11px;
        font-size: 18px;
        margin-bottom: 24px;
      }

      .initiatives-desc {
        font-size: 12px;
        font-weight: 300;
        line-height: 150%;
      }

      .initiatives-link {
        margin: 15px 0 35px;
      }
    }


    .provider {
      padding: 45px 15px 60px;

      h3 {
        font-size: 20px;
        line-height: 25px;
        margin: 25px 0;
      }

      .communities {
        margin-top: 100px;

        .lead {
          font-size: 18px;
          line-height: 24px;
          margin: 0 auto 40px;
        }
      }
    }

    .research {
      padding: 40px 15px 50px;

      h3 {
        font-size: 25px;
        line-height: 30px;
      }

      h4 {
        font-size: 19px;
        line-height: 23px;
      }

      .lead {
        font-size: 16px;
        line-height: 26px;
      }

      .carousel-box {
        margin-bottom: 30px;
        height: auto;
        padding-bottom: 20px;
      }
    }

  }

  .learn {
    .learn-link {
      margin-bottom: 25px;
    }
  }

  .popular-services-box {
    margin-bottom: 25px;
  }

  footer {
    background: #257b85;

    .footer-left {
      .footer-row {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 30px;
      }
    }

    .footer-right {
      .row {
        width: 100%;
        text-align: center;
        display: block;
      }
    }
  }
  // scss-lint:enable all
  .eoscpl-intro {
    margin: 15px 0;
    padding: 15px;

    .eoscpl-intro-title {
      font-size: 20px;
      margin-bottom: 9px;
    }

    .eoscpl-intro-desc {
      font-size: 13px;
    }
  }

  .open-science {
    .openscience-intro {
      display: flex;
      padding: 20px 20px 24px;
      margin-bottom: 30px;
      border-radius: 32px;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      border: 2px solid #257b85;
      align-content: space-between;

      .openscience-container {
        width: 100%;

        .openscience-intro-title {
          font-size: 20px;
          margin-bottom: 10px;
        }

        .openscience-intro-desc {
          font-size: 12px;
          margin-bottom: 20px;
        }
      }
    }
  }

  .programme {
    padding: 35px 0 45px;
    font-size: 13px;
    line-height: 150%;

    h4 {
      text-align: left;
      font-size: 22px;
      margin-bottom: 10px;
      line-height: 120%;
    }
  }

  .popular-services-box {
    .popular-title {
      font-size: 18px;
    }
  }
}
