<div class="row" id="filters--horizontal">
  <div class="col">
    <nz-select nzPlaceHolder="Access Mode">
      <nz-option nzValue="jack" nzLabel="OPEN ACCESS"></nz-option>
      <nz-option nzValue="lucy" nzLabel="OTHER"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <nz-select nzPlaceHolder="Result type">
      <nz-option nzValue="jack" nzLabel="Published"></nz-option>
      <nz-option nzValue="lucy" nzLabel="Private"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
  <div class="col-3">
    <nz-range-picker></nz-range-picker>
  </div>
  <div class="col">
    <nz-select nzPlaceHolder="Funder">
      <nz-option nzValue="jack" nzLabel="EU University"></nz-option>
      <nz-option nzValue="lucy" nzLabel="AGH"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <nz-select nzPlaceHolder="Type">
      <nz-option nzValue="jack" nzLabel="OPEN ACCESS"></nz-option>
      <nz-option nzValue="lucy" nzLabel="OTHER"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <nz-select nzPlaceHolder="Language">
      <nz-option nzValue="jack" nzLabel="ENG"></nz-option>
      <nz-option nzValue="lucy" nzLabel="DE"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <nz-select nzPlaceHolder="Community">
      <nz-option nzValue="jack" nzLabel="EoscHub"></nz-option>
      <nz-option nzValue="lucy" nzLabel="OpenAir"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
  <div class="col">
    <nz-select nzPlaceHolder="Content Provider">
      <nz-option nzValue="jack" nzLabel="EoscHub"></nz-option>
      <nz-option nzValue="lucy" nzLabel="OpenAir"></nz-option>
      <nz-option nzValue="disabled" nzLabel="..."></nz-option>
    </nz-select>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <h3>
      Results {{ currentResultsNumber$ | async }} of {{ articlesSize$ | async }}
    </h3>
    <div class="row">
      <div class="col d-grid gap-1">
        <button
          class="btn btn-light"
          type="button"
          [disabled]="(hasPrevPage$ | async) === false"
          (click)="prevPage$()"
        >
          << Prev
        </button>
      </div>
      <div class="col d-grid gap-1">
        <button
          class="btn btn-light"
          type="button"
          [disabled]="(hasNextPage$ | async) === false"
          (click)="nextPage$()"
        >
          Next >>
        </button>
      </div>
    </div>
    <div id="results">
      <ng-container *ngFor="let result of articles$ | async">
        <div
          class="card__container dashboard__search-result"
          (click)="setActive(result)"
        >
          <div class="row">
            <div class="col-12 search-result__details">
              <a
                href="{{
                  'https://explore.openaire.eu/search/publication?articleId=' +
                    ('' + result.id).substring(3)
                }}"
                target="_blank"
                class="fs-4 text-secondary"
              >
                {{ result.title }}
              </a>
              <ngb-rating [max]="5" [rate]="5" [readonly]="true"> </ngb-rating>
              <p class="text-muted">
                <small>{{ result.title }}</small>
              </p>
              <p>
                <small
                  >Authors: {{ (result.author_names || []).join('; ') }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div *ngIf="!!(activeArticle$ | async)" class="col-9" id="item-details">
    <h2 class="text-secondary">{{ (activeArticle$ | async)?.title }}</h2>
    <p><small>Published: 01 Jan 2013</small></p>
    <p><small>Publisher: University</small></p>
    <p><small>OPEN ACCESS GERMAN</small></p>
    <p>
      <small
        >Authors:
        {{ (activeArticle$ | async)?.author_names?.join(', ') }}</small
      >
    </p>

    <div class="row">
      <div class="col-9">
        <article>
          <b>Summary</b>
          <p class="text-secondary">
            {{ (activeArticle$ | async)?.description?.join(' ') }}
          </p>
        </article>
      </div>
      <div class="col-3">
        <div class="card__container">
          <p>
            Additional functionalities are available on OpenAIRE Explore page
          </p>
          <button class="btn btn-outline-primary">
            See at OpenAIRE Explore
          </button>
        </div>
      </div>
    </div>
    <div id="extras">
      <b>Download from</b>
      <ul>
        <li>
          <a href="#">Test test</a>
        </li>
      </ul>
    </div>
  </div>
</div>
