<div id="container">

  <div
    *ngIf="standardSearch"
    class="search-box"
    [ngClass]="{ providers: isSpecialCollection }"
  >
    <form>
      <div *ngIf="!isSpecialCollection"  class="search-selector-wrapper">
        <div *ngIf="!isSpecialCollection" class="search-switch">
          <span *ngIf="!isLanding()" class="adv-search-text-btn selected">Basic Search</span>
          <span *ngIf="!isLanding()" class="adv-search-text-btn" (click)="standardSearch = false">Advanced Search</span>
        </div>
        <div *ngIf="!isLanding()" class="search-guide adv-search-text-btn">
          <img src="assets/asguide/asguide-icon.svg"/>
          <a routerLink="/asguide" target="_blank">Advanced Search Guide</a>
        </div>
      </div>

      <div class="input-group">
        <div class="phase-box">
          <input
            #inputQuery
            type="text"
            class="form-control4"
            autocomplete="off"
            i18n-placeholder
            placeholder="Search in catalogs"
            (focus)="formControl.value ? (focused = true) : null"
            (keydown.enter)="
              updateQueryParams(formControl.value || '*', $event)
            "
            [formControl]="formControl"
          />
          <button
            *ngIf="
              (formControl.value && formControl.value.trim() !== '') ||
              (hasSetQuery$ | async)
            "
            id="btn--clear-query"
            type="button"
            class="btn btn-secondary"
            (click)="clearQuery()"
          >
            Clear <span>&cross;</span>
          </button>
        </div>
        <select
          *ngIf="!this.isSpecialCollection"
          class="form-select"
          (click)="focused = false"
          [formControl]="collectionFc"
        >
          <option
            *ngFor="let navConfig of searchCollections"
            [ngValue]="navConfig"
          >
            {{ navConfig.title }}
          </option>
        </select>
        <div class="input-group-btn">
          <button
            class="btn btn-primary"
            type="button"
            (click)="updateQueryParams(formControl.value || '*')"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div>
          <span class="search-text-checkbox">
            <label class="input-checkbox-label">
              <input
                name="exact"
                class="input-checkbox"
                type="checkbox"
                [checked]="exactmatch"
                (change)="onCheckboxChange()"
              />
              Exact match
              <img
                src="assets/help-circle.svg"
                placement="bottom"
                [ngbTooltip]="tooltipText"
                alt="Tooltip prompt icon"
                class="tooltip-prompt-icon"
                width="17"
              />
            </label>
          </span>
        </div>
      </div>

    </form>

    <div
      class="list-group suggestions"
      *ngIf="suggestedResults.length > 0 && focused"
    >
      <ng-container *ngFor="let group of suggestedResults">
        <div class="list-group-item">
          <span class="group">{{ getLabel(group.label) }}</span>
          &nbsp;<a
            [routerLink]="['/search', group.link]"
            [queryParams]="{ q: formControl.value }"
            >see all</a
          >
        </div>
        <a
          *ngFor="let result of group.results"
          [attr.href]="
            redirectService.internalUrl(
              result.redirectUrl,
              result.id,
              result.type.value,
              ''
            )
          "
          class="list-group-item list-group-item-action result"
          >{{ result.title }}</a
        >
      </ng-container>
    </div>
  </div>
  <div
    *ngIf="!standardSearch"
    class="search-box-adv"
    [ngClass]="{ providers: isSpecialCollection }"
  >
    <form>
      <div *ngIf="!isSpecialCollection" class="search-selector-wrapper">
        <div *ngIf="!isSpecialCollection" class="search-switch">
          <span class="adv-search-text-btn"
          (click)="
          standardSearch = true;
          tags = [];
          clearQueryAdv();
          updateQueryParamsAdv(this.formControl.value || '*')
          ">Basic Search</span>
          <span *ngIf="!isLanding()" class="adv-search-text-btn selected" (click)="standardSearch = false">Advanced Search</span>
        </div>
        <div *ngIf="!isLanding()" class="search-guide adv-search-text-btn">
          <img src="assets/asguide/asguide-icon.svg"/>
          <a routerLink="/asguide" target="_blank">Advanced Search Guide</a>
        </div>
      </div>

      <div class="input-group" style="margin-bottom: 5px">

        <div class="phase-box">
          <input
            #inputQueryAdv
            type="text"
            class="form-control3"
            autocomplete="off"
            i18n-placeholder
            placeholder="Search in catalogs"
            (focus)="formControl.value ? (focused = true) : null"
            (keydown.enter)="
              updateQueryParamsAdv(formControl.value || '*', $event)
            "
            [formControl]="formControl"
          />
          <button
            *ngIf="
              (formControl.value && formControl.value.trim() !== '') ||
              (hasSetQuery$ | async)
            "
            id="btn--clear-query"
            type="button"
            class="btn btn-secondary"
            (click)="clearQuery()"
          >
            Clear <span>&cross;</span>
          </button>
        </div>
        <select
          *ngIf="!this.isSpecialCollection"
          class="form-select"
          (click)="focused = false"
          [formControl]="collectionFc"
        >
          <option
            *ngFor="let navConfig of searchCollections"
            [ngValue]="navConfig"
          >
            {{ navConfig.title }}
          </option>
        </select>
        <div class="input-group-btn">
          <button
            class="btn btn-primary"
            type="button"
            (click)="updateQueryParamsAdv(formControl.value || '*')"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
        <div>
          <span class="search-text-checkbox">
            <label class="input-checkbox-label"
              ><input
                name="exact"
                class="input-checkbox"
                type="checkbox"
                [checked]="exactmatch"
                (change)="onCheckboxChange()"
              />
              Exact match
              <img
                src="assets/help-circle.svg"
                placement="bottom"
                [ngbTooltip]="tooltipText"
                alt="Tooltip prompt icon"
                class="tooltip-prompt-icon"
                width="17"
              />
            </label>
          </span>
        </div>
      </div>

      <div class="input-group" style="margin-top: 20px">

        <div class="phase-box">
          <input
            #inputQueryAdv2
            type="text"
            class="form-control2"
            autocomplete="off"
            i18n-placeholder
            placeholder="{{placeholderText}}"
            (keydown.enter)="
              add({
                value: formControlAdv.value,
                input: formControlAdv,
                narrowed: collectionFcAdvForm.value.name
              })
            "
            [formControl]="formControlAdv"
          />
          <button
            *ngIf="formControlAdv.value && formControlAdv.value.trim() !== ''"
            id="btn--clear-query"
            type="button"
            class="btn btn-secondary"
            (click)="clearQueryAdv()"
          >
            Clear <span>&cross;</span>
          </button>
        </div>
        <select
          class="form-select"
          style="margin-left: 0px; min-width: 120px"
          (click)="focused = false"
          (change)="onDropdownChange()"
          [formControl]="collectionFcAdvForm"
        >
          <ng-container *ngFor="let navConfig of collectionFcAdv">
            <option *ngIf="shouldDisplayOption(navConfig)" [ngValue]="navConfig">
              <span>{{ navConfig.name }}</span>
            </option>
          </ng-container>
        </select>
        <div class="input-group-btn button-white-bg">
          <button
            style="white-space: nowrap"
            class="btn btn-enter"
            type="button"
            (click)="
              add({
                value: formControlAdv.value,
                input: formControlAdv,
                narrowed: collectionFcAdvForm.value.name
              })
            "
          >
            Narrow down
          </button>
        </div>
      </div>
      <div *ngIf="isDOISelected && withDOI()" class="doi-message">
        Enter a valid DOI format. Example: 10.1038/nature.25715
      </div>
      <div *ngIf="tags.length !== 0" class="mt-3" style="overflow: hidden">
        <div class="row gx-1 gy-1 py-0 tags-row">
          <div class="col-1 gx-1 gy-1 py-0">
            <span
              *ngIf="elemExist('author')"
              class="adv-search-text-tag"
              style="padding-top: 18px"
            >
              Author
            </span>
          </div>
          <div class="col-11 gx-1 gy-1 py-0">
            <span class="adv-search-text-tag" *ngFor="let elem of tags">
              <nz-tag
                *ngIf="elem.startsWith('author')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px; margin-bottom: 8px"
                class="ant-tag-custom"
                >{{ elem.split('author:')[1] }}</nz-tag
              >
            </span>
            <span class="adv-search-text-tag" *ngIf="manyElems('author')">
              <nz-radio-group
                [(ngModel)]="radioValueAuthor"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onValueChange()"
                nzSize="small"
                nzButtonStyle="solid"
                class="ant-radio-custom"
              >
                <label
                  nz-radio-button
                  nzValue="A"
                  class="ant-radio-custom-label"
                  >And</label
                >
                <label
                  nz-radio-button
                  nzValue="B"
                  class="ant-radio-custom-label"
                  >Or</label
                >
              </nz-radio-group>
            </span>
          </div>
        </div>
        <div class="row gx-1 gy-1 py-0 tags-row">
          <div class="col-1 gx-1 gy-1 py-0">
            <span *ngIf="elemExist('exact')" class="adv-search-text-tag">
              Exact
            </span>
          </div>
          <div class="col-11 gx-1 gy-1 py-0">
            <span class="adv-search-text-tag" *ngFor="let elem of tags">
              <nz-tag
                *ngIf="elem.startsWith('exact')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px; margin-bottom: 8px"
                class="ant-tag-custom"
                >{{ elem.split('exact:')[1] }}</nz-tag
              >
            </span>
            <span class="adv-search-text-tag" *ngIf="manyElems('exact')">
              <nz-radio-group
                [(ngModel)]="radioValueExact"
                (ngModelChange)="onValueChange()"
                [ngModelOptions]="{ standalone: true }"
                nzSize="small"
                nzButtonStyle="solid"
                class="ant-radio-custom"
              >
                <label
                  nz-radio-button
                  nzValue="A"
                  class="ant-radio-custom-label"
                  >And</label
                >
                <label
                  nz-radio-button
                  nzValue="B"
                  class="ant-radio-custom-label"
                  >Or</label
                >
              </nz-radio-group>
            </span>
          </div>
        </div>
        <div class="row gx-1 gy-1 py-0 tags-row">
          <div class="col-1 gx-1 gy-1 py-0">
            <span *ngIf="elemExist('in title')" class="adv-search-text-tag">
              In title
            </span>
          </div>
          <div class="col-11 gx-1 gy-1 py-0">
            <span class="adv-search-text-tag" *ngFor="let elem of tags">
              <nz-tag
                *ngIf="elem.startsWith('in title')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px; margin-bottom: 8px"
                class="ant-tag-custom"
                >{{ elem.split('in title:')[1] }}</nz-tag
              >
            </span>
            <span class="adv-search-text-tag" *ngIf="manyElems('in title')">
              <nz-radio-group
                [(ngModel)]="radioValueTitle"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onValueChange()"
                nzSize="small"
                nzButtonStyle="solid"
                class="ant-radio-custom"
              >
                <label
                  nz-radio-button
                  nzValue="A"
                  class="ant-radio-custom-label"
                  >And</label
                >
                <label
                  nz-radio-button
                  nzValue="B"
                  class="ant-radio-custom-label"
                  >Or</label
                >
              </nz-radio-group>
            </span>
          </div>
        </div>
        <div class="row gx-1 gy-1 py-0 tags-row">
          <div class="col-1 gx-1 gy-1 py-0">
            <span
              *ngIf="elemExist('keyword') || elemExist('tagged')"
              class="adv-search-text-tag"
            >
              Keywords
            </span>
          </div>
          <div class="col-11 gx-1 gy-1 py-0">
            <span class="adv-search-text-tag" *ngFor="let elem of tags">
              <nz-tag
                *ngIf="elem.startsWith('keyword')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px; margin-bottom: 8px"
                class="ant-tag-custom"
                >{{ elem.split('keyword:')[1] }}</nz-tag
              >
              <nz-tag
                *ngIf="elem.startsWith('tagged')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px; margin-bottom: 8px"
                class="ant-tag-custom"
                >{{ elem.split('tagged:')[1] }}</nz-tag
              >
            </span>
            <span class="adv-search-text-tag" *ngIf="manyElems('keyword')">
              <nz-radio-group
                [(ngModel)]="radioValueKeyword"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onValueChange()"
                nzSize="small"
                nzButtonStyle="solid"
                class="ant-radio-custom"
              >
                <label
                  nz-radio-button
                  nzValue="A"
                  class="ant-radio-custom-label"
                  >And</label
                >
                <label
                  nz-radio-button
                  nzValue="B"
                  class="ant-radio-custom-label"
                  >Or</label
                >
              </nz-radio-group>
            </span>
          </div>
        </div>
        <div class="row gx-1 gy-1 py-0 tags-row">
          <div class="col-1 gx-1 gy-1 py-0">
            <span *ngIf="elemExist('doi')" class="adv-search-text-tag">
              DOI
            </span>
          </div>
          <div class="col-11 gx-1 gy-1 py-0">
            <span class="adv-search-text-tag" *ngFor="let elem of tags">
              <nz-tag
                *ngIf="elem.startsWith('doi')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px; margin-bottom: 8px;"
                class="ant-tag-custom"
              >{{ elem.split('doi:')[1] }}</nz-tag
              >
            </span>
          </div>
        </div>
        <div class="row gx-1 gy-1 py-0 tags-row">
          <div class="col-1 gx-1 gy-1 py-0">
            <span *ngIf="elemExist('none')" class="adv-search-text-tag">
              None of
            </span>
          </div>
          <div class="col-11 gx-1 gy-1 py-0">
            <span class="adv-search-text-tag" *ngFor="let elem of tags">
              <nz-tag
                *ngIf="elem.startsWith('none')"
                nzMode="closeable"
                (nzOnClose)="remove(elem)"
                style="margin-top: 8px"
                class="ant-tag-custom"
                >{{ elem.split('none of:')[1] }}</nz-tag
              >
            </span>
          </div>
        </div>

        <span
          *ngIf="tags.length !== 0"
          class="adv-search-text-tag search-clear-button"
          (click)="removeAll($event)"
        >
          <img
            src="assets/trashed.svg"
            class="tooltip-prompt-icon"
            style="padding-bottom: 4px; padding-right: 7px"
            width="22"
          />Clear Advanced Search
        </span>
      </div>


    </form>

    <div
      class="list-group suggestions"
      *ngIf="suggestedResults.length > 0 && focused"
    >
      <ng-container *ngFor="let group of suggestedResults">
        <div class="list-group-item">
          <span class="group">{{ getLabel(group.label) }}</span>
          &nbsp;<a
            [routerLink]="['/search', group.link]"
            [queryParams]="{ q: formControl.value }"
            >see all</a
          >
        </div>
        <a
          *ngFor="let result of group.results"
          [attr.href]="
            redirectService.internalUrl(
              result.redirectUrl,
              result.id,
              result.type.value,
              ''
            )
          "
          class="list-group-item list-group-item-action result"
          >{{ result.title }}</a
        >
      </ng-container>
    </div>
  </div>
</div>
<div class="backdrop" *ngIf="focused" (click)="focused = false"></div>
