<div class="row" id="dashboard__main">
  <div class="col-3" id="dashboard__filters">
    <section class="dashboard__filter">
      <h5>Categories</h5>
      <ng-container *ngFor="let category of categories$ | async">
        <p>
          {{ category.label }}
          <span class="text-secondary" style="float: right">
            {{ category.count }}
          </span>
        </p>
      </ng-container>
    </section>
    <section class="dashboard__filter">
      <h5>Filter by</h5>
      <ng-container *ngFor="let filter of filters$ | async">
        <h6 class="text-secondary">{{ filter.label }}</h6>
        <input
          type="text"
          id="domains-filter"
          placeholder="Find or choose from the list below"
        />
        <nz-tree
          [nzData]="filter.buckets"
          nzCheckable
          nzMultiple
          [nzCheckedKeys]="[]"
          [nzExpandedKeys]="[]"
          [nzSelectedKeys]="[]"
        ></nz-tree>
      </ng-container>
    </section>
  </div>
  <div class="col-9">
    <section id="dashboard__recommendations">
      <p>
        <b>Recommended for you</b>
        &nbsp;&nbsp;
        <span class="text-secondary"
          >See more recommendations in Your EOSC</span
        >
      </p>
      <div class="row">
        <ng-container
          *ngFor="let recommendedResource of recommendations$ | async"
        >
          <div class="col-4 dashboard__recommendation">
            <div class="card__container">
              <p class="fs-4 text-secondary">{{ recommendedResource.label }}</p>
              <ngb-rating
                [max]="recommendedResource.rating"
                [rate]="recommendedResource.rating"
                [readonly]="true"
              >
              </ngb-rating>
              ({{ recommendedResource.rating }})
              <p class="text-muted">
                <small>{{ recommendedResource.description }}</small>
              </p>
              <p>
                <small
                  >Organisation: {{ recommendedResource.organisation }}</small
                >
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <section id="dashboard__search-results" class="mt-3">
      <ng-container *ngFor="let result of searchResults$ | async">
        <div class="card__container dashboard__search-result">
          <div class="row">
            <div class="col-12 search-result__details">
              <a
                href="{{
                  'https://explore.openaire.eu/search/publication?articleId=' +
                    ('' + result.id).substring(3)
                }}"
                target="_blank"
                class="fs-4 text-secondary"
              >
                {{ result.title }}
              </a>
              <ngb-rating [max]="5" [rate]="result.rating" [readonly]="true">
              </ngb-rating>
              <p class="text-muted">
                <small>{{ result.title }}</small>
              </p>
              <p>
                <small
                  >Authors: {{ (result.author_names || []).join('; ') }}</small
                >
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </section>
    <section id="dashboard__recommended-resources">
      <p>
        <b>Recommended resources</b>
        &nbsp;&nbsp;
        <span class="text-secondary">Browse recommended resources (20)</span>
      </p>
      <ng-container
        *ngFor="let recommendedResource of recommendedResources$ | async"
      >
        <div class="card__container dashboard__recommended-resource">
          <div class="row">
            <div class="col-3 recommended-resource__img">
              <img src="{{ recommendedResource.imgSrc }}" />
            </div>
            <div class="col-9 recommended-resource__details">
              <p class="fs-4 text-secondary">{{ recommendedResource.label }}</p>
              <ngb-rating
                [max]="recommendedResource.rating"
                [rate]="recommendedResource.rating"
                [readonly]="true"
              >
              </ngb-rating>
              ({{ recommendedResource.rating }})
              <p class="text-muted">
                <small>{{ recommendedResource.description }}</small>
              </p>
              <p>
                <small
                  >Organisation: {{ recommendedResource.organisation }}</small
                >
              </p>
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="compare"
                    />
                    <label class="form-check-label" for="compare">
                      Default checkbox
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="favourite"
                    />
                    <label class="form-check-label" for="favourite">
                      Default checkbox
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </section>
  </div>
</div>
