<div class="container--xxl">
  <div class="ig-helper">
    <h5 class="col-md-8 col-12" i18n>Learn more about interoperability and composability</h5>
    <div class="ig-helper-wrapper">
      <p class="col-md-6 col-12 ig-helper-headlines" i18n>Interoperability guidelines are being created with the goal to help Resource Providers to integrate within research infrastructures and with the EOSC-Core (where the EOSC-Core components are also interoperable). The EOSC-IF builds upon this existing foundation, creating an overarching framework that encompasses EOSC-Core and the interfaces necessary to accommodate links to community interoperability frameworks.</p>
      <p class="ig-helper-links">
        <a i18n>About the EOSC Interoperability Framework (EOSC-IF) -></a><br/><br/>
        <a i18n>EIAB and EIAC Charter -></a><br/><br/>
        <a i18n>EOSC-IF Templates and Information -></a>
      </p>
    </div>
  </div>
</div>
