<div class="ig-about-wrapper">
  <div class="about">
    <div class="ig-logo-container">
      <img [src]="'./assets/mock-ig-logo.png'" alt="" />
    </div>
    <div>
      <p class="ig-about-title" i18n>EOSC Monitoring: Architecture and Interoperability Guidelines</p>
      <p class="ig-about-subtitle" i18n>
        EOSC Guideline Type<br>
        EOSC-Core Interoperability Guideline Controlled List<br>
        EOSC Integration Options<br>
        EOSC-Core Interoperability Guideline Controlled List
      </p>
    </div>
  </div>
  <div class="footer">
    <p i18n>ABOUT</p>
  </div>
</div>
<div class="about-description">
  <p>Guideline Category (Resource Type Category; Controlled List: Guideline)</p>
  <p> Monitoring is the key service needed to gain insights into an infrastructure. It needs to be continuous and on-demand to quickly detect, correlate, and analyse data for a fast reaction to anomalous behaviour. The challenge of this type of monitoring is how to quickly identify and correlate problems before they affect end-users and ultimately the productivity of the organisation. Management teams can monitor the availability and reliability of the services from a high level view down to individual system metrics and monitor the conformance of multiple SLAs. The EOSC Monitoring service combines two operational monitoring services: the EOSC-CORE and the EOSC-Exchange Monitoring Services, Respectively monitoring the EOSC-Core services (EOSC Core Monitoring) and the services onboarded to the Marketplace (EOSC-Exchange Monitoring). The EOSC Monitoring services were implemented adopting the ARGO technology (Resource Description)</p>
</div>
<div class="ig-details-wrapper">
  <div class="header">
    <p i18n>Details</p>
  </div>
  <div class="details">
    <div class="col-4 left-column">
      <p class="section">Year of Publication<br><span class="section-description">ISO8601 DateTime (2022-07-27)</span></p>
      <p class="section">Created<br><span class="section-description">ISO8601 DateTime (2022-07-27)</span></p>
      <p class="section">Status<br><span class="section-description">Controlled List:</span></p>
      <p class="section">Domain<br><span class="section-description">Controlled List:</span></p>
      <p class="section">EOSC Related Standardsation<br><span class="section-description">URL</span></p>
    </div>
    <div class="col-4 column">
      <p class="section">Identifier<br><span class="section-description">DOI 10.1234/foo</span></p>
      <p class="section">Identifier Type<br><span class="section-description">Controlled List DOI</span></p>
      <p class="section">Rights Identifier<br><span class="section-description">String 250 How can thoughtfully and intentionally listening to our world expand and inform our creative practices. What insights can we gain when we delve into the immersive world of sound, which permeates our every moment? In Transcendent Waves.</span></p>
    </div>
    <div class="col-4 right-column">
      <p class="section">Rights<br><span class="section-description">String (500) How can thoughtfully and intentionally listening to our world expand and inform our creative practices. What insights can we gain when we delve into the immersive world of sound, which permeates our every moment? In Transcendent Waves. How can thoughtfully and intentionally listening to our world expand and inform our creative practices. What insights can we gain when we delve into the immersive world of sound, which permeates our every moment? In Transcendent Waves.</span></p>
      <p class="section">Rights URI<br><span class="section-description">https://creativecommons.org/licenses/by/3.0/de/</span></p>
    </div>
  </div>
</div>
<div class="ig-provider-information-wrapper">
  <div class="header">
    <p i18n>Provider information</p>
  </div>
  <div class="details">
    <div class="col-4 left-column">
      <p class="section">Provider<br><span class="section-description">ID</span></p>
      <p class="section">Creator Name<br><span class="section-description">Charpy, Antoine; Jemison, Mae; Foo Data</span></p>
      <p class="section">Name Type<br><span class="section-description">Organizational</span></p>
      <p class="section">Given Name<br><span class="section-description">String 100 tentionally listening to our world expand and inform our creative practices. What insight</span></p>
      <p class="section">Family Name<br><span class="section-description">String 100 tentionally listening to our world expand and inform our creative practices. What insight</span></p>
    </div>
    <div class="col-4 column">
      <p class="section">Name Identifier<br><span class="section-description">String 100 tentionally listening to our world expand and inform our creative practices. What insight</span></p>
      <p class="section">Affiliation<br><span class="section-description">String 250 How can thoughtfully and intentionally listening to our world expand and inform our creative practices. What insights can we gain when we delve into the immersive world of sound, which permeates our every moment? In Transcendent Waves. </span></p>
      <p class="section">Affiliation Identifier<br><span class="section-description">String 250 How can thoughtfully and intentionally listening to our world expand and inform our creative practices. What insights can we gain when we delve into the immersive world of sound, which permeates our every moment? In Transcendent Waves.</span></p>
    </div>
    <div class="col-4 right-column">
    </div>
  </div>
</div>
