/* You can add global styles to this file, and also import other style files */
@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import 'scss/landing';

body {
  font-family: Ubuntu, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #233d4c;
}

a {
  color: #0c2bd5;
}
a:hover {
  color: #05a6e7;
}

.clear-button {
  font-size: 13px;
  border-radius: 3px;
  line-height: 1.36;
  float: right;
  background: #eee;
  margin-top: 10px;
  color: #555;
  padding: 4px 10px;
  transition: all 0.2s ease;
}

.clear-button:hover {
  background: linear-gradient(88.93deg, #05a6e7 1.83%, #0c2bd5 124.59%);
  color: #fff;
  margin-top: 8px;
}

.show-more {
  font-size: 14px;
  border-radius: 3px;
  line-height: 1.36;
  background: linear-gradient(88.93deg, #05a6e7 1.83%, #0c2bd5 124.59%);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  padding: 4px 10px;
  transition: all 0.2s ease;
}

.show-more:hover {
  background: linear-gradient(88.93deg, #0c2bd5 1.83%, #05a6e7 124.59%);
  color: #fff;
}

.filter__viewport {
  margin-bottom: 10px;
}
.page-heading {
  margin-bottom: 15px;
  position: relative;
}

.container--xxl {
  padding: 0 50px;
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#sub-nav {
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav-btn {
  color: #000;
  margin-right: 20px;
  padding: 10px 0;
}
.active {
  color: #0c2bd5;
  border-bottom: 4px solid #0c2bd5;
  font-weight: bold;
}
.nav-btn:hover {
  color: #0c2bd5;
}

#container {
  margin-top: 30px;
}
#results-count {
  padding-left: 10px;
}
h3,
#results-count {
  display: inline;
}
#breadcrumbs {
  padding: 5px 0 15px;
}

.filters {
  margin-bottom: 15px;
}
.ant-tree {
  background: none !important;
  font-size: 13px;
}
#clear-all-badge {
  font-size: 12px;
  color: #fff;
  padding: 6px 20px;
  margin-right: 10px;
}
.badge {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 65px 8px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
.badge .close-btn {
  cursor: pointer;
  background-color: #3987be;
  color: #fff;
  font-size: 17px;
  position: absolute;
  right: -1px;
  border-radius: 0 25px 25px 0;
  top: -1px;
  padding: 6px 11px 9px;
}

#dashboard__filters .filters {
  background: RGB(255, 255, 255, 1);
  padding-top: 10px;
  box-shadow: 0 1rem 1.5rem rgba(12, 43, 213, 0.1),
    0 0.5rem 1rem -0.75rem rgba(12, 43, 213, 0.1) !important;
  transform: translate3d(0, -3px, 0);
}

#dashboard__filters .filters h5 {
  border-bottom: 1px solid #eee;
  font-weight: 400;
}

#dashboard__filters .filter-title {
  color: #000;
  position: relative;
  margin: 10px 0 12px;
  padding-bottom: 3px;
  font-weight: 500;
}

#dashboard__filters .filter-title::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #ffcd00;
  left: 0;
  bottom: -3px;
}

.ant-tree-switcher {
  width: auto;
}

.ant-tree .ant-tree-treenode {
  margin-bottom: 5px;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background: none;
  color: #0c2bd5;
}

.cdk-virtual-scroll-content-wrapper {
  padding-right: 30px;
}
.right-column {
  padding-left: 30px;
}
h6 {
  margin-bottom: 0;
}
#tags {
  font-weight: 400;
  margin: 3px 0 10px;
  line-height: 1.3;
  font-style: normal !important;

  i {
    font-style: normal !important;
  }

  a {
    color: #233d4c;
  }
}

.tag {
  font-size: 12px;
}

#description {
  font-size: 12px;
}

.suggestions a.result {
  color: #0c2bd5 !important;
}

@media (max-width: 576px) {
  .container--xxl {
    padding: 0 15px;
  }
  .search-box {
    margin: 20px 0 0 0;
  }

  #sub-nav a {
    font-size: 12px;
    margin-right: 15px;
  }

  .search-bar .col-sm-3 {
    text-align: center;
  }

  .right-column {
    padding-left: 15px;
    margin-top: 30px;
  }

  .cdk-virtual-scroll-content-wrapper {
    padding-right: 10px;
  }
}

.results #container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 46px 20px 20px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin: 0 0 30px;

  .date-box {
    font-size: 12px;
    position: absolute;
    top: 0;
    padding: 7px 20px 4px;
    left: 0;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-radius: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
  }

  h6 {
    font-weight: 400;
    margin-bottom: 15px;
  }



  .description {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #233d4c;
  }

  .btn-show-more {
    padding: 5px 10px 6px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 400;
    color: #fff;
    margin: 15px 0 0;
    float: right;
    background: linear-gradient(88.93deg, #05a6e7 1.83%, #0c2bd5 124.59%);
    border-radius: 7px;

    &:hover {
      color: #fff;
      background: #0c2bd5;
    }
  }
}

.tags-box {
  margin-bottom: 12px;
  overflow: hidden;

  a {
    padding: 8px 13px;
    margin-right: 10px;
    font-size: 11px;
    margin-bottom: 7px;
    line-height: 1.1;
    float: left;
    text-transform: capitalize;
    font-weight: bold;
    color: #3987be;
    background: rgba(57, 135, 190, 0.3);
    border-radius: 10px;

    &.tag-khaki {
      color: #918c4c;
      background: rgba(240, 230, 140, 0.8);
    }

    &.tag-light-green {
      color: #449e8e;
      background: rgba(68, 158, 142, 0.2);
    }

    &.tag-light-orange {
      color: #d4a702;
      background: rgba(212, 167, 2, 0.2);
    }

    &.tag-peach {
      color: #9e7959;
      background: rgba(255, 218, 185, 0.8);
    }

    &.tag-light-coral {
      color: #913f3f;
      background: rgba(240, 128, 128, 0.7);
    }

    &.tag-pink {
      color: #945a64;
      background: rgba(255, 192, 203, 0.7);
    }

    &.tag-turquoise {
      color: #4f7d7d;
      background: rgba(175, 238, 238, 0.7);
    }

    &.tag-almond {
      color: #a3947c;
      background: rgba(255, 235, 205, 0.7);
    }

    &.tag-thistle {
      color: #7d687d;
      background: rgba(216, 191, 216, 0.7);
    }

    &.tag-chiffon {
      color: #a19d7d;
      background: rgba(242, 237, 194, 0.7);
    }
  }
}

.tag-row {
  margin-bottom: 2px;
  color: #233d4c;

  a {
    color: #233d4c;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.recommendation {
  .tags-box {
    margin: 0;

    a {
      padding: 8px 9px;
      margin-right: 7px;
      font-size: 10px;
    }
  }

  .tag {
    font-size: 11px;
  }

  #tags {
    line-height: 1.1;
    margin: 7px 0 0;

    .tag-row {
      margin-bottom: 7px;

      a {
        font-weight: bold;
      }
    }
  }
}


