/* You can add global styles to this file, and also import other style files */
@import '~ng-zorro-antd/ng-zorro-antd.min.css';
@import 'scss/landing';

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #233d4c;
}

h5 {
  font-size: 24px;
  font-weight: 600;
}

a {
  color: #0c2bd5;
}

a:hover {
  color: #05a6e7;
}

.no-child-node .ant-tree-switcher {
  width: 0;
}

.btn-special {
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 5px 14px;
  font-size: 15px;
}

.btn-special i {
  margin-left: 8px;
  font-size: 20px;
}

.search-bar {
  background: #000 url(assets/top-bar-bg.jpg) no-repeat;
  position: relative;

  .search-box {
    margin: 35px auto 55px;
    position: relative;
    width: 770px;
  }
}

.eosc-back-search-bar {
  margin-top: -18px;
  height: 60px !important;
  text-decoration: none;
  font-weight: 100;
  background: #000 url('assets/top-line-bg.jpg') top center !important;
  background-size: 100% auto;
}

.suggestions {
  text-align: left;
  position: absolute;
  top: 40px;
  max-width: 730px;
  left: 20px;
  border-radius: 0 0 10px 10px;
  z-index: 10;
}

.eosc-back-link {
  padding-top: 17px;
}

.eosc-back-link {
  .chevron-left {
    background-image: url('assets/ico_back.svg') !important;
    background-size: 10px auto;
    background-position: 0 100% !important;
    margin: 0 3px 0 0 !important;
    width: 13px !important;
  }
}

.logo-wrapper {
  text-align: center;

  .top-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 25px;
    color: #fff;
  }

  a {
    margin: auto;

    #logo {
      max-width: 200px;
      margin-top: 45px;
    }
  }
}

.clear-button {
  font-size: 13px;
  line-height: 1.36;
  float: left;
  margin-top: 12px;
  margin-left: 20px;
  color: #2255a4;
  transition: all 0.2s ease;
}

.clear-button:hover {
  color: #000;
}

.show-more {
  padding: 5px 10px 6px;
  font-size: 13px;
  line-height: 1.1;
  font-weight: 400;
  margin-top: 10px;
  color: #2255a4;
  background: #edf4ff;
  border-radius: 35px;
  display: inline-block;
  transition: all 0.2s ease;
}

.show-more:hover {
  background: #2255a4;
  color: #edf4ff;
}

.filter__viewport {
  margin-bottom: 10px;
}
.page-heading {
  margin-bottom: 30px;
  font-size: 14px;
  position: relative;
}

.container--xxl {
  padding: 0 50px;
  max-width: 1340px;
  margin: 0 auto;
}

.container--xxl.navigation {
  margin-bottom: 0;
}

#sub-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 30px 0 45px;
}

#sub-nav a {
  max-width: 120px;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  padding: 57px 0 5px;
  margin: 0 20px;
  min-width: 50px;
  color: #333;
  position: relative;
}

#sub-nav a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 58px;
  background-repeat: no-repeat;
  background-position: center 0;
}

#sub-nav a.active {
  color: #3d4db6;
}

#sub-nav a.active::before {
  background-position: center -54px;
}

#sub-nav a.All::before {
  background-image: url(assets/top-icon-01.png);
}

#sub-nav a.Publications::before {
  background-image: url(assets/top-icon-02.png);
}

#sub-nav a.Data::before {
  background-image: url(assets/top-icon-03.png);
}

#sub-nav a.Software::before {
  background-image: url(assets/top-icon-04.png);
}

#sub-nav a.Services::before {
  background-image: url(assets/top-icon-05.png);
}

#sub-nav a.Data.sources::before {
  background-image: url(assets/top-icon-06.png);
}

#sub-nav a.Trainings::before {
  background-image: url(assets/top-icon-07.png);
}

#sub-nav a.Guidelines::before {
  background-image: url(assets/top-icon-09.png);
}

#sub-nav a.Other::before {
  background-image: url(assets/top-icon-08.png);
}

.nav-btn {
  color: #000;
  margin-right: 20px;
  padding: 10px 0;
}
.active {
  color: #3d4db6;
  border-bottom: 3px solid #3d4db6;
  font-weight: bold;
}
.nav-btn:hover {
  color: #3d4db6;
}

h3,
#results-count {
  display: inline;
}

.dashboard {
  background: #fff;
}

.dashboard .left-column {
  border-right: 1px solid #d9dee2;
  width: 22%;
}

.dashboard .left-column #filters {
  padding: 0;
}

.dashboard .center-column {
  padding: 0 0 0 20px;
}

.dashboard .right-column {
  padding: 0 0 0 30px;
  width: 19%;
  border-left: 1px solid #d9dee2;
}

#breadcrumbs {
  padding: 5px 0 15px;
}

.filters {
  margin-bottom: 15px;

  .badge {
    font-size: 13px;
  }
}

.ant-tree {
  background: none !important;
  font-size: 13px;
}
#clear-all-badge {
  font-size: 13px;
  color: #fff;
  padding: 6px 20px;
  margin-right: 10px;
}
.badge {
  color: rgba(0, 0, 0, 0.6);
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 400;
  padding: 8px 25px 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
}
.badge .close-btn {
  cursor: pointer;
  color: #2255a4;
  background: none;
  font-size: 16px;
  position: absolute;
  right: -1px;
  border-radius: 0 25px 25px 0;
  top: -1px;
  padding: 6px 11px 9px;
}

#dashboard__filters .filters {
  background: RGB(255, 255, 255, 1);
  padding-top: 10px;
  box-shadow: 0 1rem 1.5rem rgba(12, 43, 213, 0.1),
    0 0.5rem 1rem -0.75rem rgba(12, 43, 213, 0.1) !important;
  transform: translate3d(0, -3px, 0);
}

#dashboard__filters .filters h5 {
  border-bottom: 1px solid #eee;
  font-weight: 400;
}

#dashboard__filters .filter-title {
  color: #000;
  position: relative;
  font-size: 14px;
  margin: 10px 0 6px;
  font-weight: 600;
}

#dashboard__filters .filter-title b {
  font-weight: 600;
}

#dashboard__filters .query-input {
  background: #f2f2f2;
  border: none;
  font-size: 13px;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background: none;
  color: #0c2bd5;
}

.cdk-virtual-scroll-content-wrapper {
  padding-right: 30px;
}
.right-column {
  padding-left: 30px;
}
h6 {
  margin-bottom: 0;
}
#tags {
  font-weight: 400;
  margin: 7px 0 10px;
  line-height: 1.3;
  font-style: normal !important;

  i {
    font-style: normal !important;
  }

  a {
    color: #233d4c;
  }
}

.tag {
  font-size: 12px;
}

#description {
  font-size: 12px;
}

.suggestions a.result {
  color: #0c2bd5 !important;
}

.results #container {
  background: #fff;
  padding: 25px 20px 20px;
  overflow: hidden;
  border: 1px solid #d9dee2;
  border-radius: 8px;
  position: relative;
  margin: 0 0 20px;

  .usage {
    .open-access {
      color: #27ae60;
    }

    .other-access {
      color: #f2994a;
    }
  }

  h6 {
    font-weight: 600;
    font-size: 18px;
    color: #333;
    line-height: 1.36;
    margin-bottom: 10px;

    a {
      font-weight: 600;
      font-size: 18px;
      color: #333;
      line-height: 1.36;
      margin-bottom: 10px;

      b {
        font-weight: 600;
      }
    }
  }

  .description {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 5px;
    margin-top: 15px;
    color: #233d4c;
  }

  .btn-show-more {
    padding: 5px 10px 6px;
    margin-right: 10px;
    font-size: 13px;
    line-height: 1.1;
    font-weight: 400;
    margin: 15px 0 0;
    float: right;
    color: #2255a4;
    background: #edf4ff;
    border-radius: 35px;

    &:hover {
      color: #edf4ff;
      background: #2255a4;
    }
  }
}

.tags-box {
  margin-bottom: 9px;
  overflow: hidden;

  a {
    padding: 4px 8px;
    margin-right: 8px;
    font-size: 13px;
    margin-bottom: 7px;
    line-height: 1.1;
    float: left;
    text-transform: capitalize;
    font-weight: 400;
    color: #2255a4;
    background: #edf4ff;
    border-radius: 35px;

    &.tag-horizontal {
      background: #fafcfe;
      position: relative;
      color: #a959ea;

      &::before {
        content: '';
        display: inline-block;
        background: url(assets/ico-horizontal.svg) no-repeat;
        width: 14px;
        height: 12px;
        margin-top: -1px;
        vertical-align: middle;
      }
    }
  }
}

.tag-row {
  margin-bottom: 2px;
  color: #233d4c;

  a {
    color: #233d4c;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.recommendation {
  h6 {
    font-size: 0.85rem;

    a {
      color: #333;

      b {
        font-weight: 600;
      }
    }
  }

  .tags-box {
    margin: 12px 0 0 0;

    a {
      padding: 3px 6px;
      margin-right: 5px;
      font-size: 10px;

      &:hover {
        opacity: 0.85;
      }
    }
  }

  .tag {
    font-size: 11px;

    &.tag-title {
      font-weight: bold;
    }
  }

  #tags {
    line-height: 1.1;

    .tag-row {
      margin-bottom: 7px;
      line-height: 14px;
    }
  }
}
.page-item.active {
  border: none;
}

.page-item.active .page-link {
  background: #3d4db6;
}

.statistic a {
  display: inline;
  float: left;
  margin-right: 12px;
}

@media (min-width: 1920px) {
  .search-bar {
    background-size: cover;
  }
}
@media (max-width: 1360px) {
  .container--xxl {
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .search-bar .search-box {
    width: auto;
  }

  .suggestions {
    top: 40px;
    max-width: 80%;
    left: 10%;
  }

  .logo-wrapper {
    text-align: center;
  }

  .help-row {
    .col-lg-3 {
      margin-bottom: 30px !important;
    }
  }

  .clear-button {
    float: none;
  }

  #dashboard__filters {
    .filter-title {
      width: 88%;
    }
  }

  .provider {
    .bg-light {
      margin: 0;
    }
  }

  #sub-nav a {
    font-size: 11px;
    padding: 57px 0 5px;
    margin: 0 10px;
    min-width: 40px;
  }
  .search-box input {
    width: 500px;
  }
  .dashboard .left-column {
    width: 29%;
  }

  .dashboard .center-column {
    width: 70%;
  }

  .dashboard .right-column {
    padding: 0 0 0 25px;
    width: 98%;
    border-left: none;
    border-top: 1px solid #d9dee2;
    margin: 0 1%;
  }

  .service-info-box[_ngcontent-djr-c173] {
    margin-bottom: 0;
    padding: 10px 10px 5px;
    width: 31%;
    margin-right: 3%;
  }
}

@media (max-width: 768px) {

  body {
    font-size: 0.8rem;
    line-height: 1.4;
  }

  .container--xxl {
    padding: 0 10px;
  }

  h1 {
    font-size: 20px;
    line-height: 32px;
  }

  .search-row {
    #container {
      margin-top: 10px;
    }
  }
  .logo-wrapper .top-title {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
  .heading {
    padding: 20px 0 20px !important;

    .container {
      padding: 0 10px;
    }

    .lead {
      margin: 30px 0 10px;
    }
  }

  .search-bar {
    height: 280px;
  }

  .search-box {
    input {
      font-size: 16px;
      padding-left: 15px;
    }

    .input-group-btn {
      width: 100%;
      margin-top: 15px;
      text-align: center;
    }

    .btn-primary {
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 8px;
    }

    select {
      max-width: 120px;
      font-size: 13px;
      border-radius: 0 8px 8px 0 !important;
      padding: 0.375rem 1.25rem 0.375rem 0.25rem;
    }
  }

  #sub-nav a {
    font-size: 10px;
    width: 33%;
    margin: 0 0 25px;
  }

  #sub-nav {
    padding: 25px 0 5px;
    flex-wrap: wrap;
  }

  .dashboard .left-column {
    width: 100%;
    border: none;
  }

  .dashboard .left-column #filters {
    padding-bottom: 0;
  }

  .dashboard .center-column {
    width: 100%;
    border: none;
    padding: 0 10px 0 10px;
  }

  .dashboard .right-column {
    border: none;
  }

  .cards-container {
    margin-bottom: 50px;
  }

  .help {
    padding: 90px 0 10px;
  }

  .help h3,
  .looking h3 {
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 21px;
  }

  .query-input {
    margin: 15px 0 5px;
  }

  #btn--clear-query {
    margin: 0 !important;
    font-size: 11px;
  }

  .clear-button {
    float: right;
    margin-bottom: 15px;
    margin-top: -35px;
  }

  .results {
    #container {
      padding: 15px 10px 15px;
      margin: 0 0 25px;

      h6 {
        a {
          font-size: 15px;
        }
      }
    }
  }

  .clear-button:hover {
    margin-top: -35px;
  }

  #clear-all-badge {
    margin-bottom: 20px;
  }

  .results[_ngcontent-atk-c175] #container[_ngcontent-atk-c175]:not(:first-child) {
    margin: 0 !important;
  }

  .who-are-you .bg-light .card-title,
  .provider .bg-light .card-title {
    color: #0c2bd5;
    font-size: 20px;
    line-height: 25px;
    margin-top: 25px;
    text-decoration: none;
  }

  .container--xxl {
    padding: 0 15px;
  }

  .help-row {
    .col-lg-3 {
      margin-bottom: 30px !important;
    }
  }

  .provider {
    .bg-light {
      margin: 0;
    }
  }

  .search-bar .search-box {
    margin: 25px 0 30px;
    width: auto;
  }

  .suggestions {
    top: 40px;
    max-width: 80%;
    left: 10%;
  }

  .search-box .input-group {
    flex-wrap: wrap !important;
  }

  .search-bar .col-sm-3 {
    text-align: center;
  }

  .right-column {
    padding-left: 15px;
    margin-top: 30px;
  }

  .cdk-virtual-scroll-content-wrapper {
    padding-right: 10px;
  }

  .logo-wrapper a #logo {
    max-width: 180px;
    margin-top: 20px;
  }

  .mobile-buttons {
    margin-top: 25px;
  }
  .mobile-filters-hidden,
  .mobile-collections-hidden {
    display: none;
  }

  .mobile-filters-show {
    display: block;
    padding-top: 30px;
  }

  .mobile-show-collections {
    display: block;
  }

  .pagination {
    margin-bottom: 25px;
  }

  .search-bar {
    height: 300px;
  }
  .search-box input {
    width: 320px;
  }
  #container {
    margin-top: 20px;
  }

  #dashboard__filters {
    .filter-title {
      width: 85%;
    }
  }

  .query-input {
    margin-top: 10px;
  }

  #sub-nav {
    margin-top: 0;
  }

  .logo-wrapper .top-title {
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
  }

  .eosc-common.footer {
    ul {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 576px) {

  .search-box {
    input {
      max-width: 185px;
    }
  }

}

