<main class="landing_page">
  <div class="landing-header">
    <section class="heading">
      <div class="container">
        <div class="row py-lg-3">
          <div class="col-lg-7 col-sm-12 pr-0">
            <h1>Polska Platforma Otwartej Nauki</h1>
            <p class="intro-text">
              Wspieramy rozwój polskiej nauki i innowacji, oferując nowoczesne narzędzia
              <br>
              oraz dostęp do unikalnych danych badawczych.
            </p>
            <ess-search-input
              [navigateOnCollectionChange]="false"
            ></ess-search-input>

            <div class="browse d-flex whitelabel">
              <div class="browse-label">
                Popularne frazy:
              </div>
              <div class="popular-box">
                <a href="#">nanotechnologie</a>
                <a href="#">zasoby obliczeniowe</a>
                <a href="#">pamięć masowa</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>


  <section class="research-activity">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-sm-12">
          <div class="eoscpl-intro right-intro">
            <div class="eoscpl-intro-title">
              Zasoby Polskie
            </div>
            <div class="eoscpl-intro-desc">
              Znajdź treści i narzędzia dedykowane polskiej społeczności badawczej. Wybieraj spośród tysięcy zasobów,
              które ułatwią Ci prowadzenie badań. Korzystaj z bogatej oferty informacji oraz wsparcia,
              które pomogą Ci w rozwoju innowacyjnych projektów w kraju i za granicą.
            </div>
            <a class="eoscpl-more-link">
              <a
                [routerLink]="allUrlPath"
                [queryParams]="{ q: '*', scope: 'pl' }"
              >
                Przeglądaj zasoby Polskie
              </a>
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </a>
          </div>
          <div class="eoscpl-intro right-intro">
            <div class="eoscpl-intro-title">
              Zasoby Unii Europejskiej
            </div>
            <div class="eoscpl-intro-desc">
              Przeglądaj jedną z największych baz danych naukowych w Europie. Dostęp do milionów publikacji, serwisów,
              oprogramowania i innych narzędzi, które wspierają międzynarodową współpracę i rozwój
              Twoich projektów badawczych.
            </div>
            <a class="eoscpl-more-link">
              <a
                [routerLink]="allUrlPath"
                [queryParams]="{ q: '*', scope: 'eu' }"
              >
              Przeglądaj zasoby europejskie
              </a>
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12">
          <img alt="Service name" class="img-fluid" src="assets/eoscpl-pic-01.jpg">
        </div>
      </div>
    </div>
  </section>

  <section class="learn-more">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <h4>Dowiedz się więcej</h4>
        </div>
        <div class="col-md-8 col-sm-12">
          <a href="#" class="learn-more-link">
            <div class="link-title">Partnerzy</div>
            <div class="link-more">Sprawdź
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </div>
          </a>
          <a href="#" class="learn-more-link">
            <div class="link-title">Powiązane Inicjatywy</div>
            <div class="link-more">Sprawdź
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </div>
          </a>
          <a href="#" class="learn-more-link">
            <div class="link-title">Polska Platforma Otwartej Nauki </div>
            <div class="link-more">Sprawdź
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </div>
          </a>
          <a href="#" class="learn-more-link">
            <div class="link-title">O National Node EOSC.PL</div>
            <div class="link-more">Sprawdź
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </div>
          </a>
          <a href="#" class="learn-more-link">
            <div class="link-title">Popularne serwisy</div>
            <div class="link-more">Sprawdź
              <svg class="svg-inline--fa fa-arrow-right ml-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fas fa-arrow-right ml-2"></i> Font Awesome fontawesome.com -->
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="partners">
    <div class="container">
      <h4>Partnerzy</h4>
    </div>
    <div class="container-wide">
      <a href="#" class="partner-box">
        <div class="partner-logo">
          <img alt="Partner" class="img-fluid" src="assets/partner-placeholder.png">
        </div>
        <div class="partner-title">
          Partner
        </div>
      </a>
      <a href="#" class="partner-box">
        <div class="partner-logo">
          <img alt="Partner" class="img-fluid" src="assets/partner-placeholder.png">
        </div>
        <div class="partner-title">
          Partner
        </div>
      </a>
      <a href="#" class="partner-box">
        <div class="partner-logo">
          <img alt="Partner" class="img-fluid" src="assets/partner-placeholder.png">
        </div>
        <div class="partner-title">
          Partner
        </div>
      </a>
      <a href="#" class="partner-box">
        <div class="partner-logo">
          <img alt="Partner" class="img-fluid" src="assets/partner-placeholder.png">
        </div>
        <div class="partner-title">
          Partner
        </div>
      </a>
      <a href="#" class="partner-box">
        <div class="partner-logo">
          <img alt="Partner" class="img-fluid" src="assets/partner-placeholder.png">
        </div>
        <div class="partner-title">
          Partner
        </div>
      </a>
    </div>
  </section>

  <section class="initiatives">
    <div class="container">
      <div class="container">
        <h3>Powiązane inicjatywy</h3>
        <div class="row">
          <div class="col-md-4 col-sm-12">

            <div class="initiatives-pic">
              <img src="assets/initiative-01.jpg" alt="eosc.gov.pl">
            </div>
            <div class="initiatives-title">eosc.gov.pl</div>
            <div class="initiatives-desc">
              EOSC.gov.pl to inicjatywa polskiego partnerstwa EOSC, której celem jest promowanie i wspieranie rozwoju otwartej nauki w Polsce. Oferuje informacje na temat krajowych działań związanych z otwartą nauką oraz stanowi platformę do wymiany doświadczeń i najlepszych praktyk pomiędzy polskimi instytucjami zaangażowanymi w projekty EOSC. Witryna koordynowana jest przez Narodowe Centrum Nauki, które odpowiada za nadzór nad krajową implementacją inicjatywy.

            </div>
            <a class="initiatives-link" href="#" target="_blank">
              Sprawdź
              <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fa fa-arrow-right"></i> Font Awesome fontawesome.com -->
            </a>
          </div>
          <div class="col-md-4 col-sm-12">

            <div class="initiatives-pic">
              <img src="assets/initiative-02.jpg" alt="eosc.gov.pl">
            </div>
            <div class="initiatives-title">EOSC Beyond</div>
            <div class="initiatives-desc">
              EOSC Beyond to projekt realizowany w ramach Europejskiej Chmury Otwartej Nauki, mającej na celu budowanie sieci współpracy między badaczami z całej Europy. Dzięki zaawansowanej infrastrukturze naukowcy zyskują dostęp do narzędzi, które ułatwiają i usprawniają prowadzenie badań. Głównym celem EOSC Beyond jest dostarczenie nowych funkcji platformy EOSC Core, które umożliwią dostawcom usług naukowych łatwiejszy dostęp, integrację oraz udostępnianie zasobów badawczych.
            </div>
            <a class="initiatives-link" href="#" target="_blank">
              Sprawdź
              <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fa fa-arrow-right"></i> Font Awesome fontawesome.com -->
            </a>
          </div>
          <div class="col-md-4 col-sm-12">

            <div class="initiatives-pic">
              <img src="assets/initiative-03.jpg" alt="eosc.gov.pl">
            </div>
            <div class="initiatives-title">EOSC Association</div>
            <div class="initiatives-desc">
              EOSC Association łączy instytucje i organizacje zaangażowane w budowę otwartego ekosystemu naukowego w Europie. Pracuje nad ułatwieniem dostępu do danych, narzędzi i usług badawczych, wspierając współpracę pomiędzy krajami oraz instytucjami naukowymi. Stowarzyszenie koordynuje także rozwój wspólnych standardów i infrastruktury, aby zapewnić trwały i otwarty dostęp do zasobów naukowych dla wszystkich użytkowników.
            </div>
            <a class="initiatives-link" href="#" target="_blank">
              Sprawdź
              <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fa fa-arrow-right"></i> Font Awesome fontawesome.com -->
            </a>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="open-science">
    <div class="container">
      <div class="row">
        <h3>Polska Platforma Otwartej Nauki</h3>
        <div class="col-md-8 col-sm-12">
          <div class="container">

            <div class="row">

              <div class="openscience-intro top-intro">
                <div class="openscience-container">
                  <div class="openscience-intro-title">Infrastruktura badawcza</div>
                  <div class="openscience-intro-desc">
                    Odkryj serwisy zapewniające dostęp do zaawansowanej infrastruktury badawczej, w tym usług chmurowych,
                    mocy obliczeniowej i zasobów pamięci masowej. Wszystko, czego potrzebujesz, aby wesprzeć swoje badania.
                  </div>
                </div>
                <a class="openscience-more-link" href="#">
                  Sprawdź
                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                    <path d="M6.25529 0.436386L12.9254 6.9574L6.40442 13.6275L5.44172 12.6864L11.0216 6.97892L5.31411 1.39909L6.25529 0.436386Z" fill="#0E0F0F"/>
                    <path d="M11.9844 7.64844L0.425113 7.77912L0.409739 6.41921L11.969 6.28852L11.9844 7.64844Z" fill="#0E0F0F"/>
                  </svg>
                </a>
              </div>

              <div class="openscience-intro middle-intro">
                <div class="openscience-container">
                  <div class="openscience-intro-title">Zbiory danych naukowych</div>
                  <div class="openscience-intro-desc">
                    Zyskaj dostęp do szerokiej bazy datasetów, które wspomogą rozwój Twoich projektów badawczych.
                    Przeglądaj dane z różnych dziedzin, analizuj je i wykorzystuj w swojej pracy naukowej.
                  </div>
                </div>
                <a class="openscience-more-link" href="#">
                  Sprawdź
                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                    <path d="M6.25529 0.436386L12.9254 6.9574L6.40442 13.6275L5.44172 12.6864L11.0216 6.97892L5.31411 1.39909L6.25529 0.436386Z" fill="#0E0F0F"/>
                    <path d="M11.9844 7.64844L0.425113 7.77912L0.409739 6.41921L11.969 6.28852L11.9844 7.64844Z" fill="#0E0F0F"/>
                  </svg>
                </a>
              </div>

              <div class="openscience-intro bottom-intro">
                <div class="openscience-container">
                  <div class="openscience-intro-title">Publikacje naukowe</div>
                  <div class="openscience-intro-desc">
                    Znajdź najnowsze artykuły, raporty i badania opublikowane przez polskich i międzynarodowych naukowców.
                    Platforma oferuje dostęp do katalogu publikacji z różnych dziedzin i obszarów badawczych.
                    Platforma oferuje dostęp do katalogu publikacji z różnych dziedzin i obszarów badawczych.
                  </div>
                </div>
                <a class="openscience-more-link" href="#">
                  Sprawdź
                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                    <path d="M6.25529 0.436386L12.9254 6.9574L6.40442 13.6275L5.44172 12.6864L11.0216 6.97892L5.31411 1.39909L6.25529 0.436386Z" fill="#0E0F0F"/>
                    <path d="M11.9844 7.64844L0.425113 7.77912L0.409739 6.41921L11.969 6.28852L11.9844 7.64844Z" fill="#0E0F0F"/>
                  </svg>
                </a>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-4 col-sm-12">
          <img alt="Service name" class="img-fluid" src="assets/eoscpl-pic-02.jpg">
        </div>
      </div>
    </div>
  </section>

  <section class="programme">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <h4>
            National Node
            <br>EOSC.PL
          </h4>
        </div>
        <div class="col-md-6 col-sm-12">
          <p>
            Polska Platforma Otwartej Nauki jest częścią europejskiej inicjatywy European Open Science Cloud, której celem jest rozwój otwartych i
            dostępnych zasobów badawczych na skalę europejską. Jako jeden z krajowych węzłów, Polska wspiera naukowców w dostępie do danych, publikacji oraz
            infrastruktury, która umożliwia prowadzenie zaawansowanych badań i współpracę międzynarodową. Krajowe, regionalne i temetyczne węzły EOSC, w tym PPON,
            stanowią punkty dostępu do Federacji EOSC, oferującej własne i zewnętrzne usługi, w tym zarządzanie danymi oraz ich udostępnianie.
          </p>
        </div>
        <div class="col-md-3 col-sm-12 d-flex">
          <a class="programme-link" href="#">
            Przeglądaj wszystkie zasoby
            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"></path></svg><!-- <i class="fa fa-arrow-right"></i> Font Awesome fontawesome.com -->
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="research">
    <div class="container">
      <h3>Popularne serwisy</h3>
      <div class="row">
        <div class="col-md-3 col-sm-12 d-flex align-items-stretch">
          <div class="popular-services-box card">
            <div class="popular-top">
              <img src="assets/service-placeholder.png">
            </div>
            <a class="popular-title" href="#">3DBIONOTES-WS</a>
            <a class="popular-provider" href="#">
              European Space Agency
            </a>
            <div class="popular-description">
              Access to resources from the Global Earth Observation System of Systems
            </div>
            <div class="taglist-holder">
              <div class="tag-item">
                <a href="#">Science</a>
              </div>
              <div class="tag-item">
                <a href="#">Nanotechnology</a>
              </div>
              <div class="tag-item">
                <a href="#">Systems</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex align-items-stretch">
          <div class="popular-services-box card">
            <div class="popular-top">
              <img src="assets/service-placeholder.png">
            </div>
            <a class="popular-title" href="#">GEOSS Web Portal</a>
            <a class="popular-provider" href="#">
              ICTLC S.P.A.
            </a>
            <div class="popular-description">
              Access to resources from the Global Earth Observation System of Systems
            </div>
            <div class="taglist-holder">
              <div class="tag-item">
                <a href="#">Science</a>
              </div>
              <div class="tag-item">
                <a href="#">Nanotechnology</a>
              </div>
              <div class="tag-item">
                <a href="#">Systems</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex align-items-stretch">
          <div class="popular-services-box card">
            <div class="popular-top">
              <img src="assets/service-placeholder.png">
            </div>
            <a class="popular-title" href="#">ADAM Platform</a>
            <a class="popular-provider" href="#">
              European Space Agency
            </a>
            <div class="popular-description">
              Access to resources from the Global Earth Observation System of Systems
            </div>
            <div class="taglist-holder">
              <div class="tag-item">
                <a href="#">Science</a>
              </div>
              <div class="tag-item">
                <a href="#">Nanotechnology</a>
              </div>
              <div class="tag-item">
                <a href="#">Systems</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 d-flex align-items-stretch">
          <div class="popular-services-box card">
            <div class="popular-top">
              <img src="assets/service-placeholder.png">
            </div>
            <a class="popular-title" href="#">GEOSS Web Portal</a>
            <a class="popular-provider" href="#">
              European Space Agency
            </a>
            <div class="popular-description">
              Access to resources from the Global Earth Observation System of Systems
            </div>
            <div class="taglist-holder">
              <div class="tag-item">
                <a href="#">Science</a>
              </div>
              <div class="tag-item">
                <a href="#">Nanotechnology</a>
              </div>
              <div class="tag-item">
                <a href="#">Systems</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
