<ng-container *ngIf="recommendations.length > 0">
  <div
    class="column"
    style="padding: 5px 0 0 0; display: flex; justify-content: space-between"
  >
    <div class="container results-recommendations col-md-12">
      <div class="row">
        <div class="col-md-auto d-flex p-0">
          <h2 style="padding-top: 24px">Recommended resources</h2>
          <div id="tooltipIcon" style="padding-top: 25px; margin-left: 10px">
            <img
              *ngIf="isLogged"
              src="assets/tooltip_prompt.svg"
              placement="bottom"
              [ngbTooltip]="tooltipText"
              alt="Tooltip prompt icon"
              class="tooltip-prompt-icon"
              width="19"
            />
            <img
              *ngIf="!isLogged"
              src="assets/tooltip_prompt.svg"
              placement="bottom"
              [ngbTooltip]="tooltipTextN"
              alt="Tooltip prompt icon"
              class="tooltip-prompt-icon"
              width="19"
            />
          </div>
        </div>
      </div>
      <div
        class="row mb-4 ml-0 mr-0"
        style="display: flex; justify-content: center"
      >
        <div
          *ngFor="let recommendation of recommendations"
          id="container"
          class="suggested col-md"
          style=""
        >
          <ess-colored-tags
            [type]="recommendation.type"
            [tags]="recommendation.coloredTags ?? []"
            (activeFilter)="setActiveFilter($event.filter, $event.value)"
          ></ess-colored-tags>

          <ess-url-title
            [title]="recommendation.title"
            [url]="
              redirectService.internalUrl(
                recommendation.redirectUrl,
                recommendation.id,
                recommendation.type.value,
                '',
                true
              )
            "
          >
          </ess-url-title>

          <div class="usage">
            <span
              *ngIf="recommendation.accessRight !== undefined"
              [ngClass]="{
                statistic: true,
                'open-access':
                  recommendation.accessRight.toLowerCase() === 'open access',
                'other-access':
                  recommendation.accessRight.toLowerCase() !== 'open access'
              }"
              ><img
                [src]="
                  recommendation.accessRight.toLowerCase() === 'open access'
                    ? '/assets/usage-access.svg'
                    : '/assets/restricted access.svg'
                "
              />
              <ng-container i18n>{{
                recommendation.accessRight
              }}</ng-container></span
            >
            <span
              *ngIf="recommendation.date !== null"
              class="statistic text-muted"
              ><img src="/assets/usage-date.svg" />
              <ng-container i18n>{{ recommendation.date }}</ng-container></span
            >
            <span
              *ngIf="recommendation.type !== null"
              class="statistic text-muted"
              ><img src="/assets/usage-type.svg" />
              <ng-container i18n
                >Type: {{ recommendation.type.label }}</ng-container
              ></span
            >
            <span
              *ngIf="recommendation.downloads !== undefined"
              class="statistic text-muted"
              ><img src="/assets/usage-downloads.svg" />
              <ng-container i18n
                >{{ recommendation.downloads }} Downloads</ng-container
              ></span
            >
            <span
              *ngIf="recommendation.views !== undefined"
              class="statistic text-muted"
              ><img src="/assets/usage-views.svg" />
              <ng-container i18n
                >{{ recommendation.views }} Views</ng-container
              ></span
            >
          </div>

          <ess-tags
            [tags]="recommendation.tags"
            (activeFilter)="setActiveFilter($event.filter, $event.value)"
          ></ess-tags>
          <ess-secondary-tags
            [highlights]="highlightsreal"
            [tags]="recommendation.secondaryTags ?? []"
            (activeFilter)="setActiveFilter($event.filter, $event.value)"
          >
          </ess-secondary-tags>
          <ess-description
            [buttonOff]="true"
            [description]="
              recommendation.description | transformArrayDescriptionPipe
            "
            [highlights]="highlightsreal['description'] ?? []"
          ></ess-description>
        </div>
      </div>
    </div>
  </div>
</ng-container>
