@import "../../../scss/variables";

$font-family-sans-serif: 'Ubuntu', Roboto, 'Helvetica Neue', Arial, sans-serif;

$font-size-base: 1rem;

$font-weight-light: 100; // Ubuntu light
$font-weight-normal: 300; // Ubuntu regular
$font-weight-bold: 400; // Ubuntu medium
$font-weight-bolder: 600; // Ubuntu bold

$font-size-base: 1rem;

$border-radius-default: 2px;

$color-primary: #0c2bd5;
$color-secondary: #ffcd00;
$color-text: #233d4c;
$color-1: #f9fcfe;
$color-2: #1c313a;
$color-3: #f8f9fa;
$color-4: #52636a;
$color-5: #f8f9fa;
$color-6: #a6aeb1;
$color-7: #05cae7;
$color-link: #3540b6;
$color-white: #fff;

$box-shadow-default: 0 2px 6px rgba(0, 0, 0, 0.13);

$palette-gray-100: $color-text;
$palette-gray-5: rgba($palette-gray-100, 0.05);
$palette-gray-10: rgba($palette-gray-100, 0.1);
$palette-gray-30: rgba($palette-gray-100, 0.3);
$palette-gray-50: rgba($palette-gray-100, 0.5);
$palette-gray-70: rgba($palette-gray-100, 0.7);
$palette-gray-80: rgba($palette-gray-100, 0.8);

.service-info-box {
  display: flex;
  position: relative;
  height: 240px;
  flex: 1 0;
  margin: 0 10px;
  flex-direction: column;
  margin-bottom: 25px;
  border-radius: 2px;
  background: $color-1;
  box-shadow: 0 0.125rem 0.25rem $palette-gray-30;

  &.recommendation {
    margin: 0 10px 0 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba($palette-black, 0.075);

    .recommend-box {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 11px;
      color: $color-white;
      padding: 4px 7px;
      text-transform: uppercase;
      background: $recommendation-box;
    }

    header {
      z-index: unset;
      font-size: 1.125rem;
      margin-bottom: 20px;
      padding: 1.6rem 1rem 0;
      line-height: 1.3;
    }

    &:last-child {
      margin: 0;
    }
  }

  header {
    align-items: center;
    padding: 1.4rem 1rem 0;
  }

  .title {
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 1.4rem;
    font-size: 1.3em;
    text-decoration: none;
    color: $color-link;

    &:hover {
      color: $palette-gray-100;
    }
  }

  article {
    align-items: center;
    padding: 0 1rem 1.3rem;
  }

  p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 300;
  }

  img {
    float: left;
    margin-right: 15px;
    max-width: 100px;
    height: auto;
  }

  .image-frame {
    width: 95px;
    height: 70px;
    background: $color-white;
    float: left;
    text-align: center;
    white-space: nowrap;
    margin: 0 15px 0 0;
    border: 1px solid $palette-gray-10;

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    img {
      float: none !important;
      margin: auto !important;
      max-width: 90%;
      height: auto;
      vertical-align: middle;
    }
  }

  footer {
    background: transparent;
    padding: 0.4rem 0 0;
    margin: 0 1.25rem 0.45rem;
    border-top: 1px solid $palette-gray-10;
    padding-top: 0.9rem;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2.5rem);
    flex-direction: row;
    justify-content: space-between;

    p,
    small {
      margin: 0 0 7px;
      font-size: 0.75rem;
      font-weight: 300;

      span {
        font-weight: 500;
        color: $palette-blue;
      }
    }

    .column {
      max-width: 50%;
    }
  }

  &.ver-1 {
    header {
      padding: 1.4rem 1rem 0;
      margin-bottom: 10px;
    }

    article {
      padding: 0 1rem 1rem;
    }

    footer {
      border-top: 0;
      padding-top: 0;
      margin: 0 1rem 0.45rem;
    }
  }
}


.based-on-your-search {
  font-size: 16px;
  line-height: 30px;

  .recommend-box {
    float: left;
    display: inline-block;
    color: $palette-gray-100;
    font-size: 11px;
    font-weight: 500;
    margin-right: 10px;
    position: relative;
    line-height: 20px;
    border: 1px solid $recommendation-box-border;
    background: $home-card-bg;
    padding: 4px 12px 4px 40px;

    svg {
      font-size: 19px;
      color: $user-directed-message-border-color;
      position: absolute;
      top: 5px;
      left: 10px;
    }
  }
}
