<ng-container *ngIf="recommendations.length > 0">

  <div class="row" style="padding: 5px 20px 0 10px;">
    <div class="container col-md-12">
      <div class="row mb-4 ml-0 mr-0">
        <div
          *ngFor="let recommendation of recommendations"
          class="service-info-box recommendation ver-1"
        >
          <ess-url-title
            [title]="recommendation.title"
            [url]="
              redirectService.internalUrl(
                recommendation.url,
                recommendation.id,
                recommendation.type.value
              )
            "
          >
          </ess-url-title>

          <ess-colored-tags
            [type]="recommendation.type"
            [tags]="recommendation.coloredTags ?? []"
            (activeFilter)="setActiveFilter($event.filter, $event.value)"
          ></ess-colored-tags>

          <ess-tags
            [tags]="recommendation.tags"
            (activeFilter)="setActiveFilter($event.filter, $event.value)"
          ></ess-tags>
        </div>
      </div>
    </div>
  </div>
</ng-container>
