[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
boto3 = "*"
tqdm = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
pycountry = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
celery = {extras = ["redis"], version = "*"}
flower = "*"
pydantic = "*"
pydantic-settings = "*"
pyarrow = "*"
"stomp.py" = "*"
coloredlogs = "*"
pytest-mock = "*"
pytest-asyncio = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
autodoc-pydantic = "*"
sentry-sdk = {version = "*", extras = ["fastapi"]}

[dev-packages]
pytest = "*"
pylint = "*"
jupyter = "*"
black = {extras = ["jupyter"], version = "*"}
isort = "*"

[requires]
python_version = "3.10"
