<ess-back-to-search-bar></ess-back-to-search-bar>
<div class="container--xxl">
  <div class="content">
    <h1>Privacy Policy of EOSC Search Service Platform</h1>
    <p>
      The EOSC Search Service platform, URL:
      <a href="https://search.eosc-portal.eu/">search.eosc-portal.eu</a>,
      (hereinafter referred to as "Site" or "Application") abides by the
      following principles when handling personal information:
    </p>
    <ol>
      <li>
        We collect a small amount of personal information about our users in
        order to provide them with our content, products and services;
      </li>
      <li>
        We limit the sharing or disclosure of this personal information to our
        needs or to comply with applicable legal requirements;
      </li>
      <li>
        We give users meaningful choices over the use of their personal
        information;
      </li>
      <li>We strive to protect the personal information that we hold.</li>
    </ol>
    <p>
      This Privacy Notice describes the policies applied with respect to the
      personal information collected through the Site, or when the Site
      communicates with its users ("you" or "user"), and the choices that are
      made available to them. "Personal Information" means any information that
      relates to an identified or identifiable individual.
    </p>
    <p>
      The Search Service is an EOSC Platform where User can search through a
      variety of resources, including: publications, data, software, services,
      and trainings. The Platform gives users access to personalized interface,
      in which appropriate filters have been applied to let users find the most
      suitable results.
    </p>
    <p>
      The project is co-funded by the European Commission, therefore the EU data
      processing law applies. The policy on "protection of individuals with
      regard to the processing of personal data by the Community institutions"
      is based on EU regulation as described in
      <a
        href="https://ec.europa.eu/info/legal-notice_en#personal-data-protection"
        >EC Legal notice on personal data protection</a
      >.
    </p>

    <h5>1. Your consent</h5>
    <p>
      Your use of the Site signifies that you agree to all terms of this Privacy
      Notice. If you communicate with us and provide us with personal
      information, we will assume that you agree that we can use this
      information to communicate with you. If you disagree with any part of this
      Privacy Notice, please do not use the Site or communicate with us.
    </p>
    <h5>2. Scope</h5>
    <p>
      This Privacy Notice applies solely to personal information that the
      Application collects through the Site or through any electronic
      communications that you send to the Application, as indicated on the Site
      (Personal Data). It does not apply to the websites of third parties, such
      as business partners or sponsors, to which the Site may link. The
      Application does not endorse, nor is responsible for the content of these
      third-party websites, or their policies or practices. If you provide any
      personal information to or through third party websites, your transaction
      will be subject to the terms and conditions and the privacy policies of
      these third-party websites.
    </p>
    <h5>3. What information we collect, and how we collect it.</h5>
    <p>
      The Application manages different types of data, all in compliance with
      the current European legislation on Data Protection. Any Data concerning
      the User is collected to enable the ACC Cyfronet AGH to provide its
      services, as well as for the following purposes: tag management,
      displaying content from external platforms, analytics, contacting the
      user, managing contacts and sending messages, Interaction with data
      collection platforms and other third parties. Among the types of Personal
      Data that this Application collects, by itself or through third parties,
      are: cookies, usage data, first name, last name, email address, various
      types of data including User affiliation and country.
    </p>

    <p>
      <strong>Data voluntarily supplied by the User</strong> - The web platform
      is designed to allow users to browse through it without providing any
      contact information. However, certain areas may require, or allow for, the
      submission of personal information. As an example, clients of the
      Application need to register to become part of the web site community and
      use the Application solutions. The data collected and further processed
      are necessary to access the Application, as well as for communication and
      follow-up activities. Said consent may be revoked at any time, whereby the
      ability to use the service in question ceases.
    </p>
    <p>
      <strong>EOSC Portal Marketplace Resource Information</strong> - The main
      entity managed by the Marketplace portal is a resource. A resource is
      described by a well-defined schema, which contains:
    </p>
    <ol>
      <li>
        basic information about the resource , such as the resource ID, name,
        description, provider, etc.,
      </li>
      <li>
        marketing information related to the target users, multimedia related to
        the resource, etc.
      </li>
      <li>
        classification information, such as the category and the scientific
        domain related to the resource,
      </li>
      <li>
        location information, i.e. countries and languages the resource is
        available,
      </li>
      <li>
        contact information, i.e. public contact details for the person who is
        responsible for replying to user requests for this service,
      </li>
      <li>maturity information, i.e. TRL, version, phase , etc.,</li>
      <li>dependencies to other EOSC resources,</li>
      <li>attribution to funding bodies and projects,</li>
      <li>
        management information, i.e. terms of use, helpdesk and other
        operational information,
      </li>
      <li>access and order information,</li>
      <li>financial information, such as price or financial model.</li>
    </ol>

    <p>
      <strong
        >EOSC Search Service usage activity and user-collected
        information</strong
      >
      - Users of the platform are mainly unauthenticated or authenticated
      end-users who access and browse the Site. Usage events and statistics are
      collected by the Platform and then analyzed to produce consolidated
      statistics and recommendations for related searches for the user.
    </p>

    <p>
      The following information about user visits is collected in the EOSC
      Search Service database:
    </p>
    <ol>
      <li>the user unique identifier,</li>
      <li>first name,</li>
      <li>last name,</li>
      <li>email,</li>
      <li>reason for accessing EOSC services,</li>
      <li>country of origin,</li>
      <li>customer typology, i.e., researcher, citizen, educator, provider,</li>
      <li>organization/company,</li>
      <li>country of collaboration,</li>
      <li>webpage of the EOSC portal accessed,</li>
      <li>ordered services.</li>
    </ol>

    <p>
      <strong>Users</strong> are responsible for any third-party Personal Data
      obtained, published or shared through this Application and confirm that
      they have the third party's consent to provide the Data to the ACC
      Cyfronet AGH.
    </p>
    <p>
      <strong>Cookies</strong> - Any cookies or other tracking tools used by
      this Application, or by the owners of third-party services used through
      this Application, serve the purpose of providing the service required by
      the User, in addition to any other purposes described in the present
      document and in the Cookie Policy, if available.
    </p>

    <h5>4. Where and How the Data is processed</h5>
    <p>
      <strong>Location</strong> - The Data is processed at the Data Processor’s
      operating offices and in any other places where the parties involved in
      the processing are located. For further information, please contact us at
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >.
    </p>

    <p>
      <strong>Duration of Processing</strong> - Data processing is limited to
      the time necessary to perform the service requested by the User. Unless
      otherwise requested by the European Commission, any data kept for the
      purposes of a project is retained for the duration of the project, plus
      the period requested by the European Commission (typically 3 years) after
      the project ends. However, the User can ask at any time to interrupt the
      processing of the Data or have Data canceled.
    </p>

    <p>
      <strong>Log information</strong> - Our server software automatically
      gathers general information from all users. For example: IP address,
      computer type, screen resolution, OS version, domain name, location, date
      and time of the visit, page(s) visited, time spent on a page, website from
      which the user came, action taken by the user when leaving our Site. Some
      of this information is provided directly by the user's browser, the
      remainder is obtained through cookies and tracking technologies.
    </p>

    <p>
      <strong>Registration information</strong> - Webinars and other events may
      be provided with the assistance of unaffiliated third-party vendors, which
      may require that the vendors have access to personal information such as
      name, company, and email address. These vendors will provide us with this
      information, so that we can keep track of who registers to, or attends
      these events. In this case, the information that you provide as part of
      this registration will be subject to both our Privacy Notice and the
      applicable privacy statement posted on the vendor's website.
    </p>

    <p>
      <strong>Children</strong> - The Site is not intended for children. Nor
      does the Application knowingly collect personal information from children.
    </p>

    <h5>5. How we use this information</h5>
    <p>The Application uses personal information for the following:</p>

    <ol>
      <li>
        <strong>Fulfillment of requests</strong> - We may use your personal
        information to deal with your inquiries, register you to our events, and
        send you the publications or documents that you request.
      </li>
      <li>
        <strong>Personalized recommendations</strong> - the Application
        automatically collects and stores certain types of information about
        User’s activity in EOSC Search Service, including your interaction with
        provided resources and services available through the Website. Such
        processing includes ‘profiling’ that consists of automated processing of
        personal data evaluating your scientific interests and activity on the
        Website - in order to predict what resources will be the most
        interesting for a specific User.
      </li>
      <li>
        <strong>Internal business purposes</strong> - We may use the collected
        information for internal business purposes, such as for audits or to
        track attendance at events.
      </li>
      <li>
        <strong>Site operation</strong> - We use cookies to assign a unique
        identifier to a user's computer.
      </li>
      <li>
        <strong>Statistical analysis</strong> - We use aggregated data about
        Site usage (which do not identify a specific user), such as the number
        of users who have visited certain pages of the Site, or how long users
        are spending on a particular page, in order to develop statistics as to
        the use of the Site, so that we can understand how users interact with
        the Site, to improve its content, products, or services.
      </li>
      <li><strong>Displaying content from external platforms</strong>.</li>
    </ol>

    <h5>6. To whom your personal information is disclosed</h5>
    <p>
      The <strong>Data Controller</strong> is responsible for the Data of Users
      in a proper manner and takes appropriate security measures to prevent
      unauthorized access, disclosure, modification, or destruction of the Data.
    </p>

    <p>
      <strong>Data Controller:</strong><br />
      The EGI Foundation<br />
      Science Park 140<br />
      1098 XG Amsterdam<br />
      The Netherlands
    </p>
    <p>
      <strong>Data Protection Officer</strong><br />
      Science Park 140<br />
      1098 XG Amsterdam<br />
      The Netherlands<br />
      E-mail: <a href="mailto:dpo@egi.eu">dpo&#64;egi.eu</a>
    </p>

    <p>
      The Data processing is carried out using computers and/or IT enabled
      tools, following organizational procedures and practices strictly related
      to the purposes indicated. <strong>The Data Processor</strong> processes
      the Data of Users in a proper manner and shall take appropriate security
      measures to prevent unauthorized access, disclosure, modification, or
      unauthorized destruction of the Data.
    </p>

    <p>
      <strong>Data Processor</strong><br />
      ACC Cyfronet AGH<br />
      Nawojki 11<br />
      30-950 Kraków<br />
      Poland<br />
      E-mail:
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >
    </p>
    <p>
      In addition to the Data Controller and Data Processor, in some cases, the
      Data may be accessible to certain types of persons in charge, involved
      with the operation of the site (administration, sales, marketing, legal,
      system administration) or external parties (such as third-party technical
      service providers, mail carriers, hosting providers, IT companies,
      communications agencies, e.g. EOSC Future, EOSC Association) appointed, if
      necessary, as Data Processors by the ACC Cyfronet AGH. The updated list of
      these parties may be requested from the Data Controller at any time.
    </p>

    <p>
      <strong>The Application Members</strong> - We may share personal
      information with members of a Consortium for the purpose of creating a
      knowledge base and potential customer leads for the exploitation of
      results and assets.
    </p>

    <p>
      <strong
        >EOSC Portal Marketplace Database (Managed by ACC Cyfronet AGH)</strong
      >: the user unique identifier, first name, last name, email, reason for
      accessing EOSC services, country of origin, customer typology,
      organization/company, country of collaboration, webpage, ordered services,
      messages (communication with support team), user rating information.
    </p>

    <p>
      <strong>Law enforcement; compliance</strong> - We may use or disclose
      personal information to any third party (a) if we believe that we are
      required to do so by law; (b) to comply with legal processes or respond to
      requests from governmental or public authorities; (c) to prevent,
      investigate, detect, or prosecute criminal offenses or attacks on the
      technical integrity of the Site or network; (d) to enforce our Terms and
      Conditions; or (e) to protect the rights, privacy, property, business, or
      safety of the Application, its business partners, employees, members, Site
      users, or the public. Unless prohibited by applicable law, we will inform
      you if a third party requests access to personal information about you.
    </p>

    <h5>7. Right to access and rectification</h5>

    <p>
      You have the right to have access to the personal information that we hold
      about you, and to have this information corrected and amended, as defined
      in the GDPR art. 12, 15, 16. To do so, please contact us as indicated in
      section 16. However, please be aware that in some cases, the
      administrative and technical burden associated with the retrieval of
      archived data may be substantial. We would need to be compensated for this
      effort in a manner that is consistent with our actual cost.
    </p>

    <h5>8. Right to erasure</h5>
    <p>
      You have the right to request that we delete any Personal Information that
      we hold about you. The Application is compliant with the Right to Erasure
      as defined in the GDPR, art. 17. If you would like us to erase the
      Personal Information that we hold about you, please contact us at
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >.
    </p>

    <h5>9. Right to object</h5>
    <p>
      You have the right to object at any time to the processing of your
      personal data, on grounds relating to your particular situation, as
      defined in the GDPR, art. 21. Please note that all the data you provide on
      this website will be used only for delivery of the services provided by
      the Application, as described in section 5. If you would like to apply
      your right to object, please contact us by email at
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >.
    </p>

    <h5>10. Retention of information</h5>
    <p>
      We will retain personal information about a user for as long as necessary
      to fulfill the purposes outlined in this Privacy Notice, unless a longer
      retention period is required by law and/or regulations. The User can
      always request that the Data Controller suspend or remove the data.
    </p>

    <h5>12. Security</h5>
    <p>
      The Application seeks to adopt commercially reasonable security measures
      consistent with industry practice to protect personal information under
      its control against loss, misuse, and alteration. However, we cannot
      guarantee the security of our servers, the means by which personal
      information is transmitted between your computer and our servers, or any
      personal information that we receive through or in connection with the
      Site. We attempt to strike a reasonable balance between security and
      convenience. Emails are usually sent as unencrypted text. If misrouted or
      intercepted, an unencrypted email could be read easily. If there is a
      matter that requires high security or confidentiality, please keep us
      informed about the sensitivity of the information, and do not send the
      related information by email.
    </p>

    <h5>13. Jurisdiction</h5>
    <p>
      The Application does not represent or warrant that the Site is appropriate
      or available for use in any particular jurisdiction. Those who choose to
      access the Site do so on their own initiative and at their own risk, and
      are responsible for complying with all local laws, rules, and regulations
      that apply to them. We may limit access to the Site to any person,
      geographic area, or jurisdiction that we choose, at our sole discretion.
    </p>

    <h5>14. Inquiries and Complaints</h5>
    <p>
      If you have any questions, comments, or complaints about this Privacy
      Notice, or the use, management or disclosure of personal information
      collected on or through our Site, please contact us at
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >.
    </p>

    <h5>15. Updates to the Privacy Notice</h5>
    <p>
      We update this Privacy Notice from time to time. If the changes are
      significant, we will post prominent notification on this Site for a
      reasonable time to inform you of these changes. Unless, and until, you
      object in writing, by contacting us at
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >, all changes will apply to the existing information about you that the
      Application already holds, and the personal information collected from the
      effective date of the revised Privacy Notice. Your use of the Site
      following the effective date of any revision will constitute your
      acceptance of the terms of the updated Privacy Notice.
    </p>

    <h5>16. How to contact Us</h5>
    <p>
      If you have any questions, comments, or complaints, regarding this Privacy
      Notice, or our privacy, security or data protection practices, please
      contact us by email at
      <a href="mailto:cyfronet-security@mailman.eosc-portal.eu"
        >cyfronet-security&#64;mailman.eosc-portal.eu</a
      >.
    </p>
  </div>
</div>
