.ant-menu-item-custom {
  color: white;
}

.ant-menu-custom {
  width: 700px;
  display: flex;
  align-self: center;
}

.prefix-buttons button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.prefix-buttons button.active {
  background-color: #007bff;
  color: white;
}

.prefix-buttons button:not(.active) {
  background-color: #f1f1f1;
  color: black;
}
